<ion-view view-title="活动详情" id="activity-details">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account" style="font-size: 20px"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-open pull-right" ui-sref="account" style="font-size: 25px"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <dl>
                <dd class="img">
                    <img src="../img/tmp/images/activity-details01.png">
                </dd>
                <dd class="name">
                    <span>
                        <img src="../img/tmp/images/activity-details-icon.png">
                    </span>
                    <span class="word">荣事达豆浆机团购活动</span>
                </dd>
                <dd style="margin-top: 10px">
                    <span class="grey-word">参考价&nbsp;&nbsp;：</span>
                    <span class="red-word">￥586</span>
                </dd>
                <dd style="margin-top: 5px">
                    <span class="grey-word">试用数量&nbsp;&nbsp;：</span>
                    <span class="red-word">25</span>
                </dd>
                <dd style="margin-top: 5px">
                    <span class="grey-word">活动时间截止&nbsp;&nbsp;：</span>
                    <span class="red-word">2015-06-25&nbsp;&nbsp;12&nbsp;&nbsp;：00</span>
                </dd>
                <dd>
                    <button class="button">申请免费试用</button>
                </dd>
            </dl>
        </div>
        <div class="details">
            <dl>
                <dd>
                    <button class="button"><a>活动详情</a></button>
                    <button class="button" style="margin-left: -5px;right: 0">活动规则</button>
                </dd>
                <dd style="z-index: 5555">
                    <img src="../img/tmp/images/activity-details02.png">
                </dd>
            </dl>
        </div>
    </ion-content>
</ion-view>