<ion-view view-title="添加地址" id="add-address">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span>收货人：</span>
                <input type="text" placeholder="收货人">
            </label>
            <label class="item item-input">
                <span>手机号码：</span>
                <input type="text" placeholder="手机号码">
            </label>
            <label class="item item-input">
                <span>所在地区：</span>
                <input type="text" placeholder="所在地区">
            </label>
            <label class="item item-input">
                <span>详细地址：</span>
                <input type="text" placeholder="详细地址">
            </label>
        </div>
        <div style="height: 150px"></div>



        <div class="bar bar-footer bar-assertive " style="position: absolute;bottom: -60px;width: 90%;left: 5%">
            <div class="title">提交</div>
        </div>
    </ion-content>
</ion-view>