<ion-view view-title="申请免费试用" id="free-trial">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background-color: #e4dee6">
        <div class="application" style="background-color: #ffffff;border-top: 1px solid #bcbcbc">
            <dl class="list">
                <dd>
                    <p>申请人&nbsp;:</p>
                    <label class="item item-input">
                        <input type="text" placeholder="请输入姓名">
                    </label>
                </dd>
            </dl>
            <dl class="list">
                <dd>
                    <p style="padding-left: 10px;">&nbsp;手机&nbsp;:</p>
                    <label class="item item-input">
                        <input type="text" placeholder="请输入手机号码">
                    </label>
                </dd>
            </dl>
            <dl class="list">
                <dd>
                    <p style="padding-left: 10px;">&nbsp;地址&nbsp;:</p>
                    <label class="item item-input">
                        <input type="text" placeholder="请输入地址">
                    </label>
                </dd>
            </dl>
            <dl class="list">
                <dd style="border: none">
                    <p style="margin-top: -7px;">保证金&nbsp;:&nbsp;<span class="price">￥586</span></p>
                </dd>
            </dl>
        </div>
        <button class="button-Confirm">确认支付</button>
    </ion-content>
</ion-view>