<ion-view view-title="所在地区" id="area">
    <ion-nav-buttons side="left">
        <utils-back></utils-back>
    </ion-nav-buttons>
    <ion-content>
        <ul class="list">
            <li class="item">
               北京
            </li>
            <li class="item">
                上海
            </li>
            <li class="item">
                天津
            </li>
            <li class="item">
                河北
            </li>
            <li class="item">
                河南
            </li>
            <li class="item">
                山东
            </li>
            <li class="item">
                山西
            </li>
            <li class="item">
                辽宁
            </li>
            <li class="item">
                安徽
            </li>
            <li class="item">
                福建
            </li>
        </ul>

    </ion-content>
    </ion-view>