<ion-view view-title="返利" id="back-benefit">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="item ion">
            <span class="ion-record">
            </span>
            <span class="id-name">
                ID：FT565L
            </span>
            <span class="time pull-right">
                2015-06-15
            </span>
            <div class="white-line"></div>
            <div class="line"></div>
            <div class="white-line"></div>
            <span class="indent-number">
                订单号:5688521654<br>
                消费金额:￥651
            </span>
            <span class="indent-number pull-right">
                返利:
                <span class="money">
                    ￥151
                </span>
            </span>
        </div>

        <div class="item ion">
            <span class="ion-record">
            </span>
            <span class="id-name">
                ID：FT565L
            </span>
            <span class="time pull-right">
                2015-06-15
            </span>
            <div class="white-line"></div>
            <div class="line"></div>
            <div class="white-line"></div>
            <span class="indent-number">
                订单号:5688521654<br>
                消费金额:￥651
            </span>
            <span class="indent-number pull-right">
                返利:
                <span class="money">
                    ￥151
                </span>
            </span>
        </div>

        <div class="item ion">
            <span class="ion-record">
            </span>
            <span class="id-name">
                ID：FT565L
            </span>
            <span class="time pull-right">
                2015-06-15
            </span>
            <div class="white-line"></div>
            <div class="line"></div>
            <div class="white-line"></div>
            <span class="indent-number">
                订单号:5688521654<br>
                消费金额:￥651
            </span>
            <span class="indent-number pull-right">
                返利:
                <span class="money">
                    ￥151
                </span>
            </span>
        </div>
    </ion-content>
</ion-view>
