<ion-view view-title="商家"  id="business-district">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-search pull-right"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="button-bar shop-button-bar">
            <a class="button button-clear icon-right ion-arrow-down-b">全部分类</a>
            <a class="button button-clear icon-right ion-arrow-down-b"  style="color: #f07200">全城</a>
            <a class="button button-clear icon-right ion-arrow-down-b">销量最高</a>
        </div>
        <div class="item-divider" style="min-height: 10px;"></div>
        <div class="list shop-list">

            <div class="item">
                <i class="icon ion-fork energized"></i> 德庄火锅（万达店）
                <span class="pull-right enter">进入店铺 <i class="icon ion-ios-arrow-right"></i></span>
            </div>
            <div class="item item-thumbnail-left">
                <img src="img/tab-home/dezhuang.png">
                <h2>德庄火锅美味 6人套餐</h2>
                <p>五一特惠套餐，快约上几个好友来分享吧！</p>
                <p>&nbsp;</p>
                <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="img/tab-home/dezhuang.png">
                <h2>德庄火锅美味 6人套餐</h2>
                <p>五一特惠套餐，快约上几个好友来分享吧！</p>
                <p>&nbsp;</p>
                <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="img/tab-home/dezhuang.png">
                <h2>德庄火锅美味 6人套餐</h2>
                <p>五一特惠套餐，快约上几个好友来分享吧！</p>
                <p>&nbsp;</p>
                <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
            </div>
            <div class="item text-center">
                查看其他3个商品 <i class="icon ion-ios-arrow-down"></i>
            </div>
        </div>
        <div class="gray-lucency-coverage">
        </div>
    </ion-content>

    <ion-content class="all-list">
        <ul class="list">
            <li class="item">
                <h5>全城</h5>
            </li>
            <li class="item">
                <h5>热门<span class="ion-chevron-right pull-right"></span></h5>
            </li>
            <li class="item">
                <h5>思明区<span class="ion-chevron-right pull-right"></span></h5>
            </li>
            <li class="item"  style="background-color: #e6e6e6">
                <h5 style="color: #f07200">湖里区<span class="ion-chevron-right pull-right"></span></h5>
            </li>
            <li class="item">
                <h5>集美区<span class="ion-chevron-right pull-right"></span></h5>
            </li>
            <li class="item">
                <h5>同安区<span class="ion-chevron-right pull-right"></span></h5>
            </li>
            <li class="item">
                <h5>海沧区<span class="ion-chevron-right pull-right"></span></h5>
            </li>
            <li class="item">
                <h5>翔安区<span class="ion-chevron-right pull-right"></span></h5>
            </li>
            <li class="item"  style="padding-bottom: 60px">
                <h5></h5>
            </li>
        </ul>

        <ul class="list" style="top: -298px;left: 50%;background-color: #d1c5d0;">
            <li class="item" style="background-color: #e6e6e6">
                <h5>全部</h5>
            </li>
            <li class="item" style="background-color: #e6e6e6">
                <h5>国际邮轮中心</h5>
            </li>
            <li class="item" style="background-color: #e6e6e6">
                <h5>湖里公园</h5>
            </li>
            <li class="item" style="background-color: #e6e6e6">
                <h5>江头</h5>
            </li>
            <li class="item" style="background-color: #e6e6e6">
                <h5>万达广场</h5>
            </li>
            <li class="item" style="background-color: #e6e6e6">
                <h5>五缘湾</h5>
            </li>
            <li class="item" style="background-color: #e6e6e6">
                <h5>蔡塘广场</h5>
            </li>
            <li class="item"  style="padding-bottom: 89px;background-color: #e6e6e6">
                <h5></h5>
            </li>
        </ul>


    </ion-content>
    <ion-content>&nbsp;
        <div class="gray-lucency-coverage">
        </div>
    </ion-content >

</ion-view>
