<ion-view view-title="0元抢购">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-home">
            <div class="item item-thumbnail-left" ng-repeat="item in items">
                <img ng-src="{{item.get('Item').get('image')}}" alt="" ui-sref="buying-details({id: item.id})"/>

                <h2 ui-sref="buying-details({id: item.id})">{{item.get('Item').get('name')}}</h2>

                <p ui-sref="buying-details({id: item.id})" style="margin-bottom: 10px">{{item.get('Item').get('spec')}}</p>

                <span><button ng-click="buy()" class="button button-energized button-small">立即报名</button></span>
                <span class="pull-right">{{item.get('count')}}报名</span>
            </div>
        </div>
    </ion-content>
</ion-view>
