<ion-view view-title="现金支付" id="cash-payment">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="item">
            <div>
                <span>订单名称:</span>
                <span>德庄火锅美味6人套餐</span>
            </div>
            <div>
                <span><br/>订单总价：</span>
                <span class="assertive">￥168</span>
            </div>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item item-input-inset">
            <span>验证码 ：</span>
                <label class="item item-input">
                    <input type="text" class="grey" placeholder="现金付款后由商家提供" >
                </label>
        </div>
        <div class="bar bar-footer bar-assertive " style="position: absolute;bottom: -60px;width: 90%;left: 5%">
            <div class="title">提交</div>
        </div>
    </ion-content>
</ion-view>