<ion-view view-title="更多分类">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item text-center">
                全部分类
            </div>
        </div>
        <div class="list category-all">
            <div class="item item-divider item-icon-left grey"> <i class="icon ion-fork energized"></i>美食</div>
            <div class="row">
                <div class="col">
                    <button class="button button-light button-block">
                        厦门
                    </button>
                </div>
                <div class="col">
                    <button class="button button-light button-block">
                        自助餐
                    </button>
                </div>
                <div class="col">
                    <button class="button button-light button-block">
                        火锅
                    </button>
                </div>
                <div class="col">
                    <button class="button button-light button-block">
                        中餐
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-light button-block">
                        厦门
                    </button>
                </div>
                <div class="col">
                    <button class="button button-light button-block">
                        自助餐
                    </button>
                </div>
                <div class="col">
                    <button class="button button-light button-block">
                        火锅
                    </button>
                </div>
                <div class="col">
                    <button class="button button-light button-block">
                        <i class="icon ion-ios-arrow-down energized"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="item item-divider item-icon-left grey"> <i class="icon ion-fork energized"></i>酒店</div>
        <div class="row">
            <div class="col">
                <button class="button button-light button-block">
                    厦门
                </button>
            </div>
            <div class="col">
                <button class="button button-light button-block">
                    自助餐
                </button>
            </div>
            <div class="col">
                <button class="button button-light button-block">
                    火锅
                </button>
            </div>
            <div class="col">
                <button class="button button-light button-block">
                    中餐
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-light button-block">
                    厦门
                </button>
            </div>
            <div class="col">
                <button class="button button-light button-block">
                    自助餐
                </button>
            </div>
            <div class="col">
                <button class="button button-light button-block">
                    火锅
                </button>
            </div>
            <div class="col">
                <button class="button button-light button-block">
                    <i class="icon ion-ios-arrow-down energized"></i>
                </button>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
