<ion-view view-title="编辑资料" id="data-editing">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
    <div class="item">
        <span class="gray-middle">头像</span>
        <span class="pull-right">
        <img src="img/tmp/images/camera.png" height="46px"/>
            &nbsp;
            <i class="ion-ios-arrow-right i"></i>
        </span>
    </div>
    <div class="gray-wide-line"></div>
        <div class="list">
            <a class="item item-icon-right" href="#">
                ID：TY6584
            </a>
            <a class="item" href="#">
                昵称：会飞的鱼
                <span class="pull-right">
                    <span style="color: #ee8102">修改&nbsp;</span>
                <i class="icon ion-ios-arrow-right i" style="position: absolute;top: 18px;"></i>
                </span>
            </a>
            <a class="item" href="#">
                手机：13599665545
                <span class="pull-right">
                    <span style="color: #ee8102">修改&nbsp;</span>
                <i class="icon ion-ios-arrow-right i" style="position: absolute;top: 18px;"></i>
                </span>
            </a>
            <a class="item" href="#">
                邮箱：5246545@qq.com
                <span class="pull-right">
                    <span style="color: #ee8102">修改&nbsp;</span>
                <i class="icon ion-ios-arrow-right i" style="position: absolute;top: 18px;"></i>
                </span>
            </a>
            <a class="item" href="#">
                性别：未填
                <span class="pull-right">
                    <span style="color: #ee8102">修改&nbsp;</span>
                <i class="icon ion-ios-arrow-right i" style="position: absolute;top: 18px;"></i>
                </span>
            </a>
            <a class="item" href="#">
                生日：未填
                <span class="pull-right">
                    <span style="color: #ee8102">修改&nbsp;</span>
                <i class="icon ion-ios-arrow-right i" style="position: absolute;top: 18px;"></i>
                </span>
            </a>
        </div>

            <a class="item" href="#">
                登录密码
                <span class="pull-right">
                    <span style="color: #ee8102">修改&nbsp;</span>
                <i class="icon ion-ios-arrow-right i" style="position: absolute;top: 18px;"></i>
                </span>
            </a>

        <div class="gray-wide-line"></div>
        <div class="bar bar-footer bar-assertive " style="position: absolute;bottom: -60px;width: 90%;left: 5%">
            <div class="title">保存</div>
        </div>
    </ion-content>
</ion-view>