<ion-view view-title="购物车" id="shopping-cart">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content style="background-color: #e2e2e2">
        <div class="row">
            <div class="col"><span>订单号：20152264895</span></div>
            <div class="col col-20"><h6>完成</h6>
            </div>
        </div>

        <div>
            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <div class="item item-thumbnail-left ">
                        <img src="img/tmp/images/shopping-cart_01.png" >
                        <h2>2015新款德国原装进口手工咖啡机<span class="new-price pull-right">￥2691</span></h2>
                        <h2>手工咖啡机<span class="old-price pull-right">￥2900</span></h2>
                        <p>&nbsp;</p>
                        <p>
                            型号&nbsp;TU4450
                            <button class="button ion-plus-round button-small pull-right"><span style="font-size: 18px"></span>
                            </button>
                            <span class="card pull-right">
                                    1
                            </span>
                            <button class="button ion-minus-round button-small pull-right"><span></span>
                            </button>
                        </p>
                    </div>
                </li>

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <div class="item item-thumbnail-left ">
                        <img src="img/tmp/images/shopping-cart_02.png">
                        <h2>2015新款德国原装进口手工咖啡机<span class="new-price pull-right">￥1219</span></h2>
                        <h2>全自动咖啡机<span class="old-price pull-right">￥290</span></h2>
                        <p>&nbsp;</p>
                        <p>
                            型号&nbsp;TR5560
                            <button class="button ion-plus-round button-small pull-right"><span style="font-size: 18px"></span>
                            </button>
                            <span class="card pull-right">
                                    1
                            </span>
                            <button class="button ion-minus-round button-small pull-right"><span></span>
                            </button>
                        </p>

                    </div>
                </li>
            </ul>

        </div>

        <div class="final">
            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <span class="all">全选</span>
                    <button class="button button-calm button-large pull-right">
                        <div>删除</div>
                    </button>
                </li>
            </ul>
        </div>
    </ion-content>

</ion-view>