<ion-view view-title="评价详情"  id="evaluate-detail">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="all-evaluate">
            <p>总评价：
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/gray-start.jpg">
                <span class="score">4.8</span>
            </p>
        </div>
        <div class="concreteness-evaluate">
            <span class="title">TY95k</span>
            <span class="date">
                2015-06-20
                <span class="start pull-right">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/gray-start.jpg">
                </span>
            </span>
            <p>环境很棒，味道很赞，服务热情，套餐实惠，套餐实惠，下次再来。</p>
        </div>
        <div class="concreteness-evaluate">
            <span class="title">TY95k</span>
            <span class="date">
                2015-06-20
                <span class="start pull-right">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                </span>
            </span>
            <p>环境很棒，味道很赞，服务热情，套餐实惠，套餐实惠，下次再来。</p>
            <span class="detail-picture">
                <img src="../img/evaluate-detail/evaluate01.jpg">
                <img src="../img/evaluate-detail/evaluate02.jpg">
                <img src="../img/evaluate-detail/evaluate03.jpg">
                <img src="../img/evaluate-detail/evaluate04.jpg">

            </span>
        </div>
        <div class="concreteness-evaluate">
            <span class="title">TY95k</span>
            <span class="date">
                2015-06-20
                <span class="start pull-right">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/gray-start.jpg">
                </span>
            </span>
            <p>环境很棒，味道很赞，服务热情，套餐实惠，套餐实惠，下次再来。</p>
        </div>
        <div class="concreteness-evaluate">
            <span class="title">TY95k</span>
            <span class="date">
                2015-06-20
                <span class="start pull-right">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                <img src="../img/evaluate-detail/star.png">
                </span>
            </span>
            <p>环境很棒，味道很赞，服务热情，套餐实惠，套餐实惠，下次再来。</p>
            <span class="detail-picture">
                <img src="../img/evaluate-detail/evaluate01.jpg">
                <img src="../img/evaluate-detail/evaluate02.jpg">
                <img src="../img/evaluate-detail/evaluate03.jpg">
                <img src="../img/evaluate-detail/evaluate04.jpg">

            </span>
        </div>

    </ion-content >

</ion-view>
