<ion-view view-title="意见反馈" id="feedback">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="more"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
        <label class="item item-input">
            <textarea  placeholder="输入您的意见..."></textarea>
        </label>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive " style="background-color: #fd0033">
        <div class="title" ng-click="submit()">提交</div>
    </div>
</ion-view>
