<ion-view view-title="忘记密码" id="password">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content style="background-color: #e7e2e7">
        <div class="item item-input-inset" style="padding-right: 0;height: 100%;  padding-bottom: 5px">
            <img src="../img/password/password-1.jpg" style="width: 13px;margin-left: 5px;">&nbsp;&nbsp;&nbsp;
            <label class="item item-input"  style="padding-left: 0;width: 100%;margin-left: 6px;border-top: none;border-left: none;padding-top: 0;margin-top: 14px;
            ">
                <input ng-model="info.phone" type="text" class="grey" placeholder="输入手机号" style="padding-left: 0;width: 180%;  margin-top: -10px">
            </label>
        </div>

        <div class="item item-input-inset" style="border-top: none;  padding-top: 4px">
            <div class="line"></div>
            <img src="../img/password/password-2.jpg">&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="item item-input" style="width: 30%;  margin-left: -4px">
                <input ng-model="info.code" type="text" class="grey" placeholder="" >
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button button-light" ng-click="forget(info.phone)" style="width: 30%;height: 32px;background-color: rgba(22, 195, 140, 0.86);border-radius: 5px;min-height: 32px;position:absolute;right:5%;margin-top: -6px;">
                <span style="color: #ffffff;font-size: 14px;position: relative;top: -8px">获取验证码</span>
            </button>
        </div>
        <br>
        <div class="item item-input-inset" style="border: none;margin-top: -10px">
            <img src="../img/password/password-3.jpg" style="height: 20px;width: 15px;  margin-left: 6px;">&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="item item-input" style="width: 90%;border: none; margin-left: -15px">
                <input type="password" ng-model="info.password" class="grey" placeholder="输入重置回密码" style="margin-left: -5px;" >
            </label>
        </div>
        <br>
        <button ng-click="submit(info.phone, info.code, info.password)" class="button button-block button-positive" style="width: 94%;position:absolute;left:3%;background-color: #ff0025;border: none;font-size: 17px">
           提交
        </button>

    </ion-content>
</ion-view>