<ion-view view-title="忘记密码" id="password">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content style="background-color: #e7e2e7">
        <div class="item item-input-inset">
            <span style="padding-left: 5px">手机号码 </span>&nbsp;&nbsp;&nbsp;
            <label class="item item-input">
                <input ng-model="info.phone" type="text" class="grey" placeholder="请填写预留的手机号" >
            </label>
        </div>
        <div class="item item-input-inset">
            <span style="padding-left: 20px">验证码 </span>&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="item item-input" style="width: 40%">
                <input ng-model="info.code" type="text" class="grey" placeholder="" >
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button button-light" ng-click="forget(info.phone)" style="width: 30%;height: 32px;background-color: rgba(15, 150, 46, 0.52);border-radius: 5px;min-height: 32px">
                <span style="color: #ffffff;font-size: 10px;position: relative;top: -8px">获取验证码</span>
            </button>
        </div>
        <br>
        <div class="item item-input-inset" style="border: none">
            <span>重置密码 </span>&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="item item-input" style="width: 90%">
                <input type="password" ng-model="info.password" class="grey" placeholder="请输入新密码" >
            </label>
        </div>
        <br>
        <button ng-click="submit(info.phone, info.code, info.password)" class="button button-block button-positive" style="width: 80%;position:absolute;left:10%;background-color: #ff0025;border: none">
            确认
        </button>

    </ion-content>
</ion-view>