<ion-view view-title="论坛" id="forum">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-search pull-right"></button>
        </div>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <span>全部 </span>
            </a>
            <a class="tab-item" href="#" ui-sref="">
                <span>厨艺交流</span>
            </a>
            <a class="tab-item" href="#" ui-sref="">
                <span>厨房布置</span>
            </a>
            <a class="tab-item" href="#" ui-sref="">
                <span>游山玩水</span>
            </a>
            <button class="button button-clear ion-ios-arrow-down pull-right"></button>
        </div>
    </div>
    <ion-content>
        <div style="height: 56px"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/post_01.png">
            <dl>
                <dd>
                    <h2>高科技多功能电饭煲</h2>
                    <span class="wrap grey" style="font-size: smaller">颠覆传统的豪科技电饭煲，一顶四 蒸、煮、煎、炸一步到位...</span>
                </dd>
                <dd>
                    <p style="padding-top: 0px"><span class="grey">浏览 2654</span>
                        <span class="grey pull-right">评论 26</span></p>
                </dd>
            </dl>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/post_02.png">
            <dl>
                <dd>
                    <h2>小户型如何规划自己的厨房</h2>
                    <span class="wrap grey" style="font-size: smaller">房子不够大，厨房不还布置？看过来20款小户型精装厨房布置...</span>
                </dd>
                <dd>
                    <p style="padding-top: 0px"><span class="grey">浏览 2654</span>
                        <span class="grey pull-right">评论 26</span></p>
                </dd>
            </dl>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/post_01.png">
            <dl>
                <dd>
                    <h2>高科技多功能电饭煲</h2>
                    <span class="wrap grey" style="font-size: smaller">颠覆传统的豪科技电饭煲，一顶四 蒸、煮、煎、炸一步到位...</span>
                </dd>
                <dd>
                    <p style="padding-top: 0px"><span class="grey">浏览 2654</span>
                        <span class="grey pull-right">评论 26</span></p>
                </dd>
            </dl>
        </div>

        <div class="gray-wide-line"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/post_02.png">
            <dl>
                <dd>
                    <h2>小户型如何规划自己的厨房</h2>
                    <span class="wrap grey" style="font-size: smaller">房子不够大，厨房不还布置？看过来20款小户型精装厨房布置...</span>
                </dd>
                <dd>
                    <p style="padding-top: 0px"><span class="grey">浏览 2654</span>
                        <span class="grey pull-right">评论 26</span></p>
                </dd>
            </dl>
        </div>
            <img src="img/tmp/images/edit_01.png" alt="发帖" class="post"/>
    </ion-content>
</ion-view>
