<ion-view view-title="论坛详情" id="forum-details">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-ios-heart-outline" ng-click="collect()"></button>
            <i>&nbsp;&nbsp;</i>
            <button class="button button-clear">
                <img src="img/tmp/images/message.png" style="height: 13px;width: 13px"/>
            </button>
            <button class="button button-clear">
                <img src="img/tmp/images/share_01.png" style="height: 13px;width: 13px"/>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>



    </ion-content>
</ion-view>
