<ion-view view-title="GPS">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="home"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="item item-input-inset" style="color: #000;">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" class="grey full" placeholder="请输入城市中文名称或拼音" ng-model="data.city">
            </label>
            <button class="button button-small button-energized" ng-click="search()">
                搜索
            </button>
        </div>
        <div class="item item-divider" ng-show="isSearch">搜索结果</div>
        <div class="row" ng-show="isSearch">
            <div class="col col-30">
                <button class="button button-light button-block" ng-click="setCity(data.city)">
                    {{data.city}}
                </button>
            </div>
            <div class="col col-30"></div>
            <div class="col col-30"></div>
        </div>
        <div class="list">
            <div class="item item-divider">定位城市</div>
            <div class="row">
                <div class="col col-30">
                    <button class="button button-light button-block" ng-click="setCurrentCity()">
                        {{currentCity || '获取中'}}
                    </button>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="item item-divider">最近访问</div>
            <div class="row">
                <div class="col col-30">
                    <button class="button button-light button-block" ng-click="setCity('厦门')">
                        厦门
                    </button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-block" ng-click="setCity('北京')">
                        北京
                    </button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-block" ng-click="setCity('上海')">
                        上海
                    </button>
                </div>
            </div>
        </div>
        <div class="item item-divider">热门城市</div>

        <div class="row">
            <div class="col col-30">
                <button class="button button-light button-block" ng-click="setCity('厦门')">
                    厦门
                </button>
            </div>
            <div class="col col-30">
                <button class="button button-light button-block" ng-click="setCity('北京')">
                    北京
                </button>
            </div>
            <div class="col col-30">
                <button class="button button-light button-block" ng-click="setCity('上海')">
                    上海
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-30">
                <button class="button button-light button-block" ng-click="setCity('成都')">
                    成都
                </button>
            </div>
            <div class="col col-30">
                <button class="button button-light button-block" ng-click="setCity('深圳')">
                    深圳
                </button>
            </div>
            <div class="col col-30">
                <button class="button button-light button-block" ng-click="setCity('广州')">
                    广州
                </button>
            </div>
        </div>

        <div class="item item-divider" id="A">A</div>

        <div class="item">鞍山</div>

        <div class="item item-divider" id="B">B</div>

        <div class="item">北京</div>

        <div class="item item-divider" id="C">C</div>

        <div class="item">成都</div>
        </div>
    </ion-content>
</ion-view>
