<ion-view view-title="我的推荐" id="healthy-classroom">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background-color: rgba(237, 234, 235, 0.85)">
        <div class="all">
            <div class="list">
                <div>
                    <img src="../img/tmp/images/healthy-classroom01.png">
                </div>
                <div class="word">
                    <div class="name">高科技多功能电饭煲</div>
                    <p>颠覆传统的高科技电饭煲，一顶四蒸、煮、煎、渣一步到位···</p>
                    <p class="num">浏览  26</p>
                </div>
            </div>
        </div>
        <div class="all">
            <div class="list">
                <div>
                    <img src="../img/tmp/images/healthy-classroom02.png">
                </div>
                <div class="word">
                    <div class="name">小户型如何规划自己的厨房</div>
                    <p>房子不够大，厨房不好布置？看过来20款小户型精装厨房布置···</p>
                    <p class="num">浏览  26</p>
                </div>
            </div>
        </div>
        <div class="all">
            <div class="list">
                <div>
                    <img src="../img/tmp/images/healthy-classroom01.png">
                </div>
                <div class="word">
                    <div class="name">高科技多功能电饭煲</div>
                    <p>颠覆传统的高科技电饭煲，一顶四蒸、煮、煎、渣一步到位···</p>
                    <p class="num">浏览  26</p>
                </div>
            </div>
        </div>
        <div class="all">
            <div class="list">
                <div>
                    <img src="../img/tmp/images/healthy-classroom02.png">
                </div>
                <div class="word">
                    <div class="name">小户型如何规划自己的厨房</div>
                    <p>房子不够大，厨房不好布置？看过来20款小户型精装厨房布置···</p>
                    <p class="num">浏览  26</p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>