<ion-view view-title="帮助中心">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="more"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/tmp/images/head-edit.png">
                <h2>帮助中心</h2>
                <p>管理员</p>
            </div>

            <div class="item item-body">
                <p>
                    大众点评于2003年4月成立，是中国领先的城市生活消费平台，也是全球最早建立的独立第三方消费点评网站。借助移动互联网、信息技术和线下服务能力，大众点评为消费者提供值得信赖的本地商家、消费评价和优惠信息，及团购、预约预订、外送、电子会员卡等O2O闭环交易服务，覆盖了餐饮、电影、酒店、休闲娱乐、美业、结婚亲子、家装等几乎所有本地生活服务行业。大众点评手机客户端是中国最受欢迎的本地生活APP之一，已成为广大城市消费者的必备工具。“点亮精彩生活”是我们的使命，因此我们团队的奋斗目标是：深刻理解消费者与商户需求，为其创造非凡体验和最大价值，并引领本地生活方式。
                    相关数据
                    截止到2015年第一季度，大众点评月活跃用户数超过2亿，点评数量超过7500万条，收录商户数量超过1400万家，覆盖全国2500多个城市及美国、日本、法国、澳大利亚、韩国、新加坡、泰国、越南、马​来西亚、印度尼西亚、柬埔寨、马尔代夫、毛里求斯等近百个热门旅游国家和地区。
                    截止到2015年第一季度，大众点评月综合浏览量（网站及移动设备）超过150亿，其中移动客户端的浏览量超过85％，移动客户端累计独立用户数超过2亿。
                    目前，除上海总部之外，大众点评已经在北京、广州、天津、杭州、南京等160多座城市设立分支机构。
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
