<ion-view id="home-page">

    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="primary">
            <a class="button icon-right" style="border: 0;" ui-sref="gps">
            <img src="../img/tmp/images/pagelogo.png">
            </a>
            <label class="item-input-wrapper" style="background: #f88701;width: 80%">
                <i class="icon ion-ios-search placeholder-icon" style="color: #353535;"></i>
                <input type="search" placeholder="搜索商家、分类、地点">
            </label>
            <a class="button icon-right pull-right" style="border: 0;" ui-sref="gps">
                <img src="../img/tmp/images/home-page-ionc01.png" style="height: 20px;width: 24px;margin-top: 6px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background-color: rgba(239, 235, 243, 0.6)">
        <div class="page">
            <img src="../img/tmp/images/home-page-img01.png">
        </div>
        <div class="row">
            <div class="col">
                <img src="../img/tmp/images/home-page-ionc02.png">
                <p>签到有礼</p>
            </div>
            <div class="col">
                <img src="../img/tmp/images/home-page-ionc03.png">
                <p>最热活动</p>
            </div>
            <div class="col">
                <img src="../img/tmp/images/home-page-ionc04.png">
                <p>健康课堂</p>
            </div>
            <div class="col">
                <img src="../img/tmp/images/home-page-ionc05.png">
                <p>服务中心</p>
            </div>
        </div>

        <div class="list">
            <div class="element">
                <div class="title-list">
                    <span><img src="../img/tmp/images/home-page-ionc07.png"></span>
                    <span class="title">热门视频</span>
                    <span class="more pull-right">更多&nbsp;&nbsp;&nbsp;<span class="ion-ios-arrow-right pull-right"></span></span>
                </div>
                <div class="img"><img src="../img/tmp/images/home-page-img02.png"></div>
                <a><img src="../img/tmp/images/recipes05.png"></a>
                <div class="border" style="border: 1px solid #eeeeee;margin-top: -6px">
                    <div class="content">
                        <div class="name">极品毛血旺</div>
                        <div class="state">
                            <span class="as">鱿鱼、培根、海参、香油等···</span>
                            <span class="browse pull-right">浏览&nbsp;26</span>
                        </div>
                    </div>
                </div>
                <div class="img"><img src="../img/tmp/images/home-page-img03.png"></div>
                <a><img src="../img/tmp/images/recipes05.png" style="top: 300px;"></a>
                <div class="border" style="border: 1px solid #eeeeee;margin-top: -6px">
                    <div class="content">
                        <div class="name">极品毛血旺</div>
                        <div class="state">
                            <span class="as">鸡丁、花生、黄瓜、辣椒等···</span>
                            <span class="browse pull-right">浏览&nbsp;26</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="element">
                <div class="title-list">
                    <span><img src="../img/tmp/images/home-page-ionc08.png" style="width: 15px;height: 14px"></span>
                    <span class="title" style="margin-left: 5px;margin-top: -5px">热卖产品</span>
                    <span class="more pull-right">更多&nbsp;&nbsp;&nbsp;<span class="ion-ios-arrow-right pull-right"></span></span>
                </div>
                <div class="img"><img src="../img/tmp/images/home-page-img04.png"></div>
                <div class="border" style="border: 1px solid #eeeeee;margin-top: -6px">
                    <div class="content">
                        <div class="name">2015新款九阳豆浆机</div>
                        <div class="state">
                            <span class="price">￥399</span>
                            <span class="as" style="text-decoration: line-through">￥499</span>
                            <span class="browse pull-right">已售&nbsp;8512</span>
                        </div>
                    </div>
                </div>
                <div class="img"><img src="../img/tmp/images/home-page-img05.png"></div>
                <div class="border" style="border: 1px solid #eeeeee;margin-top: -6px">
                    <div class="content">
                        <div class="name">2015新款九阳豆浆机</div>
                        <div class="state">
                            <span class="price">￥399</span>
                            <span class="as" style="text-decoration: line-through">￥499</span>
                            <span class="browse pull-right">已售&nbsp;8512</span>
                        </div>
                    </div>
                </div>
             </div>
        </div>

        <div class="list">
            <div class="element" style="padding-bottom: 0">
                <div class="title-list">
                    <span>
                        <img src="../img/tmp/images/home-page-ionc09.png" style="width: 15px;height: 14px">
                    </span>
                    <span class="title" style="margin-left: 5px;margin-top: -5px">
                        热门帖子
                    </span>
                    <span class="more pull-right">
                        更多&nbsp;&nbsp;&nbsp;
                        <span class="ion-ios-arrow-right pull-right"></span>
                    </span>
                </div>
                <div class="img-small">
                    <img src="../img/tmp/images/home-page-img06.png">
                    <div class="content-two">
                        <div class="name">
                            新春专题&nbsp;：2015最具年味菜品推荐
                        </div>
                        <div class="introduction">
                            春节是中国传统习俗,每年至此···
                        </div>
                        <div class="state">
                            <span class="price">
                                2015-01-12
                            </span>
                            <span class="browse pull-right">
                                评论&nbsp;126
                            </span>
                        </div>
                    </div>
                </div>
                <div class="img-small" style="padding-bottom: 0;border-bottom: 0">
                    <img src="../img/tmp/images/home-page-img07.png">
                    <div class="content-two">
                        <div class="name">
                            新春专题&nbsp;：2015最具年味菜品推荐
                        </div>
                        <div class="introduction">
                            春节是中国传统习俗,每年至此···
                        </div>
                        <div class="state">
                            <span class="price">
                                2015-01-12
                            </span>
                            <span class="browse pull-right">
                                评论&nbsp;26
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="element" style="padding-bottom: 0">
                <div class="title-list">

                        <img src="../img/tmp/images/home-page-ionc10.png" style="width: 15px;height: 14px">

                    <span class="title" style="margin-left: 5px;margin-top: -5px">
                        健康课堂
                    </span>
                    <span class="more pull-right">
                        更多&nbsp;&nbsp;&nbsp;
                        <span class="ion-ios-arrow-right pull-right"></span>
                    </span>
                </div>
                <div class="img-small">
                    <img src="../img/tmp/images/home-page-img08.png">
                    <div class="content-two">
                        <div class="name">
                            清洁专题&nbsp;：关于如何清理厨房长期积累的油渍教程
                        </div>
                        <div class="introduction">
                            厨房是创造美食的地方,如何去···
                        </div>
                        <div class="state">
                            <span class="price">

                            </span>
                            <span class="browse pull-right">
                                赞&nbsp;128
                            </span>
                        </div>
                    </div>
                </div>
                <div class="img-small" style="padding-bottom: 0;border-bottom: 0">
                    <img src="../img/tmp/images/home-page-img09.png">
                    <div class="content-two">
                        <div class="name">
                            新春专题&nbsp;：2015最具年味菜品推荐
                        </div>
                        <div class="introduction">
                            春节是中国传统习俗,每年至此···
                        </div>
                        <div class="state">
                            <span class="price">

                            </span>
                            <span class="browse pull-right">
                                赞&nbsp;26
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>