<ion-view view-title="最热活动" id="hottest">
    <ion-content>
        <div class="list">
            <div class="list-model">
                <img src="../img/hottest-Activity/hottest_01.png">
                <div class="text">
                    <span class="name">九阳豆浆机团购活动</span>
                    <span class="date ion-android-alarm-clock">&nbsp;06月25日&nbsp;结束</span>
                </div>
            </div>
            <div class="list-model">
                <img src="../img/hottest-Activity/hottest_02.png">
                <div class="text-p">
                    <div class="name">九阳豆浆机团购活动
                        <p>标题两行时的样式</p>
                    </div>
                    <span class="date-p ion-android-alarm-clock">&nbsp;06月25日&nbsp;结束</span>
                </div>
            </div>
            <div class="list-model">
                <img src="../img/hottest-Activity/hottest_02.png">
                <div class="text-p">
                    <div class="name">九阳豆浆机团购活动
                        <p>标题两行时的样式</p>
                    </div>
                    <span class="date-p ion-android-alarm-clock">&nbsp;06月25日&nbsp;结束</span>
                </div>
            </div>
            <div class="list-model">
                <img src="../img/hottest-Activity/hottest_01.png">
                <div class="text">
                    <span class="name">九阳豆浆机团购活动</span>
                    <span class="date ion-android-alarm-clock">&nbsp;06月25日&nbsp;结束</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>