<ion-view view-title="订单详情"  id="indent-details">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left"></button>
        </div>
    </ion-nav-buttons>
    <ion-content style="background-color: #e4d9e1">
       <div class="details">
           <img src="../img/indent-details/annex.png">
           <div class="details-text">
               <p>订单号:20150605226549  <span class="pull-right" style="padding-right: 10px;color: rgba(255, 255, 255, 0.78);font-size: 12px">待收货</span></p>
               <p>订单时间:2015-06-16</p>
               <p>配送快递:圆通</p>
               <p>快递单号:5688950546</p>
          </div>
       </div>
       <div class="person-details">
           <div>
               <img src="../img/indent-details/location.png">
           </div>

           <div class="person-details-text">

               <p>收货人:隔壁老王 <span class="pull-right" style="padding-right: 10px">13859666215</span></p>
               <p>邮编:361000</p>
               <p style="padding-right: 10px">收货地址:福建省厦门市思明区软件园二期观日路108好之一叮当科技</p>
               <div class="bottom-background"></div>
           </div>
       </div>
            <div class="shoes">
                <div class="shoes-img">
                    <img src="../img/indent-details/black-shoes.png">
                </div>
                <div class="shoes-style">
                    <p>哥弟2015新款 <span class="shoes-price pull-right">￥299.00</span></p>
                    <p style="margin-top: -11px">女鞋</p>

                </div>
                <div class="shoes-size">
                    <p>38码&nbsp;&nbsp;&nbsp;&nbsp;黑色<span class="pull-right">共一件</span></p>
                </div>
            </div>

            <div class="shoes" style="margin-top: 1px">
                <div class="shoes-img">
                    <img src="../img/indent-details/white-shoes.png">
                </div>
                <div class="shoes-style">
                    <p>哥弟2015新款 <span class="shoes-price pull-right">￥299.00</span></p>
                    <p style="margin-top: -11px">女鞋</p>

                </div>
                <div class="shoes-size">
                    <p>38码&nbsp;&nbsp;&nbsp;&nbsp;白色<span class="pull-right">共一件</span></p>
                </div>
            </div>
    </ion-content >

</ion-view>