<ion-view view-title="消息详情" id="information">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="more"></button>
        </ion-nav-buttons>
    <ion-content>
        <!-- 标题-->
        <div class="title">
            将甜美进行到底
        </div>
        <div class="date">
            2015-04-20  08:00:00
        </div>

        <!-- 图片1-->
        <div class="information-one">
            <img src="img/information-details/information-one.png" />
        </div>

        <!-- 主文-->
        <div class="content">
            <p>
                如芭蕾舞者般翩翩起舞，让裙摆自然飞扬的纱裙，是最适合打造甜美淑女装扮的，即使是黑色也不会显得沉闷，
                在这个被浪漫占据的季节，突出女性柔美性感的装扮才是主角。 如芭蕾舞者般翩翩起舞，让裙摆自然飞扬的
                纱裙，是最适合打造甜美淑女装扮的，即使是黑色也不会显得沉闷，
                在这个被浪漫占据的季节，突出女性柔美性感的装扮才是主角。
            </p>
        </div>



        <!-- 图片2-->
        <div class="information-two">
            <img src="img/information-details/information-two.png" />
        </div>

    </ion-content>
</ion-view>