<ion-view view-title="消息详情" id="information">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="my-information"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <!-- 标题-->
        <div class="title">
            苏泊尔特价优惠产品
        </div>
        <div class="date">
            2015-04-20  08:00:00
        </div>

        <!-- 图片1-->
        <div class="information-one">
            <img src="img/tmp/images/information_01.png" />
        </div>

        <!-- 主文-->
        <div class="content">
            <p>
                浙江苏泊尔股份有限公司是中国最大、全球第二的炊具研发制造商，中国厨房小家电领先品牌。苏泊尔创立于
                1994年，总部设在中国杭州、在杭州、玉环、绍兴、武汉和越南胡志明市建立了5大研发制造基地，拥有10000
                多名员工。苏泊尔是中国炊具行业首家上市公司（股票代码002032，简称：苏泊尔）
            </p>
        </div>

        <!-- 图片2-->
        <div class="information-two">
            <img src="img/tmp/images/information_02.png" />
        </div>

    </ion-content>
</ion-view>