<ion-view view-title="我的活动" id="my-activities">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="product-border">
            <dl>
                <dd>
                    <img src="img/tmp/images/activities_01.png">
                </dd>
                <dd>
                    <p style="font-weight:600">&nbsp;&nbsp;九阳豆浆机团购活动</p>
                </dd>
                <dd>
                    <span style="color: #737373">2015年06月25日  结束</span>
                   <div class="button button-small button-assertive pull-right">
                       退货
                   </div>
                </dd>
                <dd>
                    <span style="color: #737373">活动状态：</span>
                    <span style="color: #f84546">试用中</span>
                </dd>
            </dl>

            <dl>
                <dd>
                    <img src="img/tmp/images/activities_02.png">
                <dd>
                    <p style="font-weight:600">&nbsp;&nbsp;九阳豆浆机团购活动</p>
                </dd>
                <dd>
                    <span style="color: #737373">2015年06月25日  结束</span>
                    <div class="button button-small button-assertive pull-right">
                        取消报名
                    </div>
                </dd>
                <dd>
                    <span style="color: #737373">活动状态：</span>
                    <span style="color: #f84546">报名成功</span>
                </dd>
            </dl>

            <dl>
                <dd>
                    <img src="img/tmp/images/hottest_01.png">
                </dd>
                <dd>
                    <p style="font-weight:600">&nbsp;&nbsp;九阳豆浆机团购活动</p>
                </dd>
                <dd>
                    <span style="color: #737373">2015年06月25日  结束</span>
                </dd>
                <dd>
                    <span style="color: #737373">活动状态：</span>
                    <span style="color: #f84546">任务中</span>
                </dd>
            </dl>

        </div>



    </ion-content>
</ion-view>