<ion-view view-title="我的消息" id="my-information">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background-color: rgba(229, 229, 229, 0.15)">
        <div class="item ion" ui-sref="information-details">
            <span class="id-name">
                <img src="../img/my-information/yellow-short-line.png">
                您的帐号异常登录
            </span>
            <span class="time pull-right">
               2015.06.01
            </span>
            <span class="line"></span>
            <div class="white-line"></div>
            <div class="line"></div>
            <div class="white-line"></div>
            <div class="indent-number">
                您的帐号存在如下异常登录行为：时间：2013-06-07 &nbsp;15:00:58 &nbsp;地点：广东深圳 &nbsp;
                IP：14.209.156.*如非本...
            </div>
        </div>

        <div class="item ion" ui-sref="information-details">
            <span class="id-name">
                <img src="../img/my-information/yellow-short-line.png">
                苏泊尔特价优惠季
            </span>
            <span class="time pull-right">
               2015.06.01
            </span>
            <span class="line"></span>
            <div class="white-line"></div>
            <div class="line"></div>
            <div class="white-line"></div>
            <div class="indent-number">
               浙江苏泊尔股份有限公司是中国最大、全球第二的炊具研发制造商，中国厨房小家电领先品牌。
                苏泊尔创立...
            </div>
        </div>
    </ion-content>
</ion-view>