<ion-view view-title="我的消息" id="my-information">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content style="background-color: rgba(229, 229, 229, 0.15)">
        <div class="item ion">
            <span class="id-name">
                <img src="../img/my-information/yellow-short-line.png">
                将甜美进行到底
            </span>
            <span class="time pull-right">
               2015.06.01
            </span>
            <span class="line"></span>
            <div class="white-line"></div>
            <div class="line"></div>
            <div class="white-line"></div>
            <div class="indent-number">
                如芭蕾舞者般翩翩起舞，让裙摆自然飞扬的纱裙，是
                最适合打造甜美淑女装扮的，即使是黑色也不会显得沉闷，
                在这个被浪漫占据的季节，突出女性柔美性感的装扮才是主角。
            </div>
        </div>

        <div class="item ion">
            <span class="id-name">
                <img src="../img/my-information/yellow-short-line.png">
                将甜美进行到底
            </span>
            <span class="time pull-right">
               2015.06.01
            </span>
            <span class="line"></span>
            <div class="white-line"></div>
            <div class="line"></div>
            <div class="white-line"></div>
            <div class="indent-number">
                如芭蕾舞者般翩翩起舞，让裙摆自然飞扬的纱裙，是
                最适合打造甜美淑女装扮的，即使是黑色也不会显得沉闷，
                在这个被浪漫占据的季节，突出女性柔美性感的装扮才是主角。
            </div>
        </div>
    </ion-content>
</ion-view>