1888<ion-view view-title="我的推荐" id="my-recommend">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background-color: rgba(232, 224, 228, 0.56)">
        <div class="item ion" ng-repeat="user in users">
            <span class="ion-record">
            </span>
            <span class="id-name">
                会员ID：{{user.get('username')}}
            </span>
            <span class="time pull-right">
                {{user.get('username')}}
            </span>
            <span class="line"></span>
            <div class="white-line"></div>
            <div class="line"></div>
            <div class="white-line"></div>
            <div class="indent-number">
                注册时间<br>
                <div class="white-line"></div>
                总消费<br>
                <div class="white-line"></div>
                最后消费时间
            </div>
            <div class="indent-number pull-right">
                <div class="money">
                    {{user.createdAt | date: 'yyyy-MM-dd'}}<br>
                    <div class="white-line"></div>
                    <p class="text-right">
                        ￥{{user.cost || 0}}
                    </p>
                    <div class="white-line"></div>
                    {{user.createdAt | date: 'yyyy-MM-dd'}}<br>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>