<ion-view view-title="提交订单" id="online-payment">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="item order-menu">
        <dl>
            <dd>
                订单编号：25562215632
            </dd>
            <dd>
                商品数量：共2件
            </dd>
            <dd>
                订单总价：<span style="color: red">￥1658</span>
            </dd>
        </dl>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/alipay.png" style="width: 53px;height: 30px">
            <h2>支付宝支付</h2>
            <span>推荐有支付宝帐号的用户使用</span>
            <label class="checkbox">
                    <input type="checkbox">
            </label>
        </div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/bankcard.png" style="width: 53px;height: 30px">
            <h2>银行卡支付</h2>
            <span>支持储蓄卡信用卡</span>
            <label class="checkbox">
                <input type="checkbox">
            </label>
        </div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/weixin.png" style="width: 53px;height: 30px">
            <h2>微信支付</h2>
            <span>推荐微信5.0及以上的用户使用</span>
            <label class="checkbox">
                <input type="checkbox">
            </label>
        </div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/delivery_01.png" style="width: 53px;height: 30px">
            <h2>货到付款</h2>
            <span>本订单支持货到付款服务</span>
            <label class="checkbox">
                <input type="checkbox">
            </label>
        </div>

        <div class="bar bar-footer bar-assertive " style="position: absolute;bottom: -60px;width: 90%;left: 5%">
            <div class="title">提交</div>
        </div>
    </ion-content>
</ion-view>
