<ion-view view-title="提交订单" id="submit-orders">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="item" ng-show="currentAddress" ui-sref="address-select">
            <i class="ion-ios-location-outline"></i>{{currentAddress.get('name')}}&nbsp;&nbsp;{{currentAddress.get('city')}}{{currentAddress.get('address')}}
            <span class="pull-right enter"><i class="icon ion-ios-arrow-right"></i></span>
        </div>
        <div class="item" ng-show="addresses.length == 0" ui-sref="add-address">
            <i class="ion-ios-location-outline"></i>&nbsp;&nbsp;暂无地址,请新增地址
            <span class="pull-right enter"><i class="icon ion-ios-arrow-right"></i></span>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item" ui-sref="add-address">
            <i class="ion-ios-plus-empty"></i>&nbsp;&nbsp;新增地址
            <span class="pull-right enter"><i class="icon ion-ios-arrow-right"></i></span>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item line">
            消费方式
        </div>
        <div class="row">
            <div class="col col-50">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="radio" name="method" id="method-ziti" ng-model="radios.method" ng-value="0">
                    </label>
                    到店消费/自提
                </li>
            </div>
            <div class="col col-50">
                <li class="item item-checkbox">
                    <label class="checkbox ">
                        <input type="radio" name="method" id="method-shangmen" ng-model="radios.method" ng-value="1">
                    </label>
                    送货上门
                </li>
            </div>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item">
            </i>&nbsp;&nbsp;代金券
            <span class="pull-right enter"><span style="font-size: small;color: gray">使用代金券&nbsp;&nbsp;</span><i
                    class="icon ion-ios-arrow-right"></i></span>
        </div>
        <div class="gray-line"></div>
        <div class="item line">
            </i>&nbsp;&nbsp;订单总价
            <span class="assertive  pull-right">￥{{tmpCart.cost || '未获取到数据'}}</span>
        </div>
        <div class="row">
            <div class="col col-50">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="radio" name="pay" id="pay-online" ng-model="radios.pay" ng-value="0">
                    </label>
                    在线支付
                </li>
            </div>
            <div class="col col-50">
                <li class="item item-checkbox">
                    <label class="checkbox ">
                        <input type="radio" name="pay" id="pay-cash" ng-value="1" ng-model="radios.pay">
                    </label>
                    现金付款
                </li>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive ">
        <div class="title" ng-click="submit()">提交</div>
    </div>
</ion-view>