<ion-view view-title="产品" id="product">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-search pull-right"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-footer" style="background-color: #eeeeee">
        <div class="button-bar shop-button-bar" style="background-color: #ffffff">
            <a class="button button-clear icon-right ion-arrow-down-b" ng-click="setSelectType('category')">选择分类</a>
            <a class="button button-clear icon-right ion-arrow-up-b" ng-click="setSelectType('sort')" style="color: #f80293">销量最高</a>
        </div>
        <div class="product-Introduction">
            <dl>
                <dd>
                    <img src="../img/hottest-Activity/hottest_01.png">
                </dd>
                <dd>
                    <div class="name">2015新款九阳豆浆机</div>
                </dd>
                <dd>
                    <div class="price">
                        <span class="new-price">￥399</span>
                        <span class="old-price">￥499</span>
                        <span class="Number">已经售&nbsp;8512</span>
                    </div>
                </dd>
            </dl>
            <dl>
                <dd>
                    <img src="../img/hottest-Activity/hottest_02.png">
                </dd>
                <dd>
                    <div class="name">2015新款九阳豆浆机</div>
                </dd>
                <dd>
                    <div class="price">
                        <span class="new-price">￥399</span>
                        <span class="old-price">￥499</span>
                        <span class="Number">已经售&nbsp;8512</span>
                    </div>
                </dd>
            </dl>
        </div>

        <ul class="list">
            <li class="item">
                <h5 style="color: #f80293">销量最高</h5>
            </li>
            <li class="item">
                <h5>价格最低</h5>
            </li>
            <li class="item">
                <h5>价格最高</h5>
            </li>
            <li class="item">
                <h5>评价最高</h5>
            </li>
            <li class="item"  style="padding-bottom: 30px">
                <h5></h5>
            </li>
        </ul>
        <div class="gray-lucency-coverage">
        </div>


    </ion-content>
</ion-view>