<ion-view id="product-search">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button class="go-back">&nbsp;&nbsp;&nbsp;
        </ion-nav-back-button>
        <ion-nav-buttons side="primary">
            <!--<button ui-sref="home" class="button button-clear ion-chevron-left" style="border: 0; margin-right: 10px">-->
            <!--</button>-->
            <label class="item-input-wrapper" style="background: #ffffff;border-radius:60px;">
                <i class="icon ion-ios-search placeholder-icon" style="color: #737373;"></i>&nbsp;
                <input type="search" class="grey" placeholder="请输入关键词" ng-model="search.item"
                       style="font-size: 12px; height: auto; background: #ffffff;">
            </label>

            <button class="button button-clear button-search" ng-click="searchItem()">搜索</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="tabs-striped tabs-top">
        <div class="tabs">
            <a class="tab-item" href="#" ui-sref="shop-search">
                <span>搜店铺</span>
            </a>

            <a class="tab-item active" href="#">
                <span>搜产品</span>
            </a>
        </div>
    </div>


    <ion-content>
        <div ng-show="!data.items">
            <div>
                <br/>
                <br/>
                <br/>
                &nbsp;<b>历史：</b>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = 'wifi'; searchItem()">wifi</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '双人'; searchItem()">双人</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '美发'; searchItem()">美发</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '旅游'; searchItem()">国际旅游</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = 'wifi'; searchItem()">wifi</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '双人'; searchItem()">双人</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '美发'; searchItem()">美发</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '旅游'; searchItem()">国际旅游</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = 'wifi'; searchItem()">wifi</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '双人'; searchItem()">双人</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '美发'; searchItem()">美发</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '旅游'; searchItem()">国际旅游</button>
                </div>
            </div>
            &nbsp;<b>热搜：</b>

            <div class="row">
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = 'wifi'; searchItem()">wifi</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '双人'; searchItem()">双人</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '美发'; searchItem()">美发</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '旅游'; searchItem()">国际旅游</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = 'wifi'; searchItem()">wifi</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '双人'; searchItem()">双人</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '美发'; searchItem()">美发</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '旅游'; searchItem()">国际旅游</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = 'wifi'; searchItem()">wifi</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '双人'; searchItem()">双人</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '美发'; searchItem()">美发</button>
                </div>
                <div class="col">
                    <button class="button button-small button-block button-light" ng-click="search.item = '旅游'; searchItem()">国际旅游</button>
                </div>
            </div>

        </div>

        <div style="background-color: #ededed">
            <br/>
            <br/>
            <br/>
        </div>

        <div class="list text-center padding" ng-show="data.items.length == 0">无结果</div>
        <div class="list product-search">
            <div ng-repeat="item in data.items">
                <div class="item item-thumbnail-left">
                    <img src="img/tab-home/dezhuang.png">

                    <h2>{{item.get('name')}}</h2>

                    <p>{{item.get('desc')}}</p>

                    <p>&nbsp;</p>

                    <p><span class="assertive price">￥{{item.get('price')}}</span><span class="origin-price">￥{{item.get('origin-price')}}</span><span
                            class="pull-right">已售 {{item.get('salenum')}}</span></p>
                </div>
                <div class="gray-wide-line"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
