<ion-view view-title="添加地址" id="receiving-address">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span>收货人：</span>
                <input type="text" class="grey" placeholder="高萍萍">
                <!--<span class="">gao</span>-->
            </label>
            <label class="item item-input">
                <span>手机号码：</span>
                <input type="text" class="grey" placeholder="13895665661">
            </label>
            <label class="item item-input">
                <span>所在地区：</span>
                <input type="text" class="grey" placeholder="福建省厦门市思明区">
            </label>
            <label class="item item-input wide">
                <span class="wide">详细地址：</span>
                <textarea style="width:80%;" class="grey" placeholder="  软件园二期观日路201号之二5楼 噼里啪啦科技"></textarea>
            </label>
        </div>
        <div class="bar bar-footer bar-assertive " style="position: absolute;bottom: -60px">
            <div class="title">提交</div>
        </div>
    </ion-content>
</ion-view>