<ion-view view-title="食谱详情" id="recipe-details-comment">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-ios-heart-outline" ng-click="collect()"></button>
            <i>&nbsp;&nbsp;</i>
            <button class="button button-clear">
                <img src="img/tmp/images/share_01.png" style="height: 13px;width: 13px"/>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <img src="img/tmp/images/recipes_03.png" style="width: 100%;max-height: 150px">
        <img src="img/tmp/images/play_01.png" style="width: 56px" class="play">

        <div class="tabs-striped tabs-top">
            <div class="tabs">
                <a class="tab-item " href="#">
                    <span>详情</span>
                </a>
                <a class="tab-item active" href="#">
                    <span>步骤</span>
                </a>

                <a class="tab-item" href="#">
                    <span>评价</span>
                </a>
            </div>
        </div>

        <div class="row-positive">
            <div class="row">
                <div class="col col-25">
                    <img src="img/tmp/images/comment_01.png" width="100%"/>
                </div>
                <div class="col">
                    <dl style="margin-bottom: 0">
                        <dd>
                            <span style="color: #f84546">会飞的鱼</span>
                            <span class="grey pull-right">回复</span>
                        </dd>

                        <dd>
                            <span class="grey" style="font-size: small">6小时前</span>
                        </dd>

                        <dd>
                <span>回复
                    <span style="color: #f84546">柯南君</span>
                ：谢谢新的捧场，希望对你有用哦！
                </span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="gray-line"></div>

            <div class="row">
                <div class="col col-25">
                    <img src="img/tmp/images/comment_02.png" width="100%"/>
                </div>
                <div class="col">
                    <dl style="margin-bottom: 0">
                        <dd>
                            <span style="color: #f84546">柯南君</span>
                            <span class="grey pull-right">回复</span>
                        </dd>

                        <dd>
                            <span class="grey" style="font-size: small">3天前</span>
                        </dd>

                        <dd>
                <span>
                    <span style="color: #f84546"></span>
                你的帖子很有用哦，润肺止咳效果杠杠的棒，谢谢你！
                </span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="gray-line"></div>

            <div class="row">
                <div class="col col-25">
                    <img src="img/tmp/images/comment_03.png" width="100%"/>
                </div>
                <div class="col">
                    <dl style="margin-bottom: 0">
                        <dd>
                            <span style="color: #f84546">二次元的世界</span>
                            <span class="grey pull-right">回复</span>
                        </dd>

                        <dd>
                            <span class="grey" style="font-size: small">3天前</span>
                        </dd>

                        <dd>
                <span>
                    <span style="color: #f84546"></span>
                你的帖子很有用哦，润肺止咳效果杠杠的棒，谢谢你！
                </span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="gray-line"></div>
        </div>

    </ion-content>
    <div class="final bar bar-footer">
        <ul class="list">
            <li class="item item-icon-left item-icon-right">
                <i class="icon">
                    <img src="img/tmp/images/smile_01.png" height="26px" style="position: absolute;bottom: 16px"/>
                </i>
                <label class="item-input-wrapper"
                       style="background: #ffffff;border-radius:4px;border: solid 1px #ededed">
                    <input type="text" class="grey" placeholder="说点什么..."
                           style="font-size: 12px; height: auto; background: #ffffff;">
                </label>
                <i class="icon">
                    <img src="img/tmp/images/plane_01.png" height="26px"/>
                </i>
            </li>
        </ul>
    </div>
</ion-view>
