<ion-view view-title="食谱详情" id="recipe-details-graphic-mode">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-ios-heart-outline" ng-click="collect()"></button>
            <i>&nbsp;&nbsp;</i>
            <button class="button button-clear">
                <img src="img/tmp/images/share_01.png" style="height: 13px;width: 13px"/>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <img src="img/tmp/images/recipes_03.png" style="width: 100%;max-height: 150px">
        <img src="img/tmp/images/play_01.png" style="width: 56px" class="play">

        <div class="tabs-striped tabs-top">
            <div class="tabs">
                <a class="tab-item " href="#">
                    <span>详情</span>
                </a>
                <a class="tab-item active" href="#" ui-sref="">
                    <span>步骤</span>
                </a>

                <a class="tab-item" href="#" ui-sref="">
                    <span>评价</span>
                </a>
            </div>
        </div>

        <div class="row-positive">
        <div class="row">
            <div class="col col-10">
                <img src="img/tmp/images/num_01.png" style="width: 20px">
            </div>
            <div class="col">
                <span style="font-size: larger">首先将去好屁的紫薯切成粒。银耳泡入清水三十分钟，去蒂切成块，鲜百合去头去尾，剥开。</span>
            </div>
        </div>

        <div class="row">
            <div class="col col-10">
                <img src="img/tmp/images/num_02.png" style="width: 20px">
            </div>
            <div class="col">
                <span style="font-size: larger">锅中倒入小半国清水，将紫薯隔水蒸二十分钟，取出。</span>
            </div>
        </div>

        <div class="row">
            <div class="col col-10">
                <img src="img/tmp/images/num_03.png" style="width: 20px">
            </div>
            <div class="col">
                <span style="font-size: larger">首先将去好屁的紫薯切成粒。银耳泡入清水三十分钟，去蒂切成块，鲜百合去头去尾，剥开。</span>
            </div>
        </div>

        <div class="row">
            <div class="col col-10">
                <img src="img/tmp/images/num_04.png" style="width: 20px">
            </div>
            <div class="col">
                <span style="font-size: larger">锅中倒入小半国清水，将紫薯隔水蒸二十分钟，取出。</span>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>