<ion-view view-title="返利" id="recipes-explain">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background-color: rgba(224, 226, 235, 0.48)">
        <div class="button-s">
            <button class="button"><span class="chose">订单返利</span></button>
            <button class="button" style="margin-left: -4px">签到有礼</button>
        </div>
        <div class="list">
            <dl>
                <dd class="one" style="border-bottom: 1px solid #f0f0f0">
                    <span class="icon ion-record"></span>
                    <span class="sign">ID&nbsp;：FT565L</span>
                    <span class="date pull-right">2015-06-15</span>
                </dd>
                <dd class="two">
                    <span class="word-one">订单号&nbsp;：5688521654</span>
                </dd>
                <dd>
                    <span class="word-one">消费金额&nbsp;：￥651</span>
                    <div class="pull-right">
                        <span class="word-two">返利&nbsp;：</span>
                        <span class="word-three">￥151</span>
                    </div>

                </dd>
            </dl>
        </div>
        <div class="list">
            <dl>
                <dd class="one" style="border-bottom: 1px solid #f0f0f0">
                    <span class="icon ion-record"></span>
                    <span class="sign">ID&nbsp;：FX265L</span>
                    <span class="date pull-right">2015-06-15</span>
                </dd>
                <dd class="two">
                    <span class="word-one">订单号&nbsp;：5688521654</span>
                </dd>
                <dd>
                    <span class="word-one">消费金额&nbsp;：￥2861</span>
                    <div class="pull-right">
                        <span class="word-two">返利&nbsp;：</span>
                        <span class="word-three">￥1521</span>
                    </div>

                </dd>
            </dl>
        </div>
        <div class="list">
            <dl>
                <dd class="one" style="border-bottom: 1px solid #f0f0f0">
                    <span class="icon ion-record"></span>
                    <span class="sign">ID&nbsp;：FT565L</span>
                    <span class="date pull-right">2015-06-15</span>
                </dd>
                <dd class="two">
                    <span class="word-one">订单号&nbsp;：5688521654</span>
                </dd>
                <dd>
                    <span class="word-one">消费金额&nbsp;：￥651</span>
                    <div class="pull-right">
                        <span class="word-two">返利&nbsp;：</span>
                        <span class="word-three">￥151</span>
                    </div>

                </dd>
            </dl>
        </div>

    </ion-content>
</ion-view>