<ion-view view-title="食谱详情" id="recipe-details-comment">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-ios-heart-outline" ng-click="collect()"></button>
            <i>&nbsp;&nbsp;</i>
            <button class="button button-clear">
                <img src="img/tmp/images/share_01.png" style="height: 13px;width: 13px"/>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <img src="img/tmp/images/recipes_03.png" style="width: 100%;max-height: 150px">
        <img src="img/tmp/images/play_01.png" style="width: 56px" class="play">
        <div class="tabs-striped tabs-top">
            <div class="tabs">
                <a class="tab-item " href="#">
                    <span>详情</span>
                </a>
                <a class="tab-item active" href="#">
                    <span>步骤</span>
                </a>

                <a class="tab-item" href="#">
                    <span>评价</span>
                </a>
            </div>
        </div>












</ion-content>
</ion-view>
