<ion-view view-title="食谱详情" id="recipe-details">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
        <ion-nav-buttons style="left: 20px">
            <button class="button button-clear ion-ios-heart-outline" ng-click="collect()" style="left: 259px"></button>
            <i>&nbsp;&nbsp;</i>
            <img src="img/tmp/images/share_01.png" style="height: 13px;position: absolute;bottom: 15px;left: 295px"/>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <img src="img/tmp/images/recipes_03.png" style="width: 100%;max-height: 150px">
        <img src="img/tmp/images/play_01.png" style="width: 56px" class="play">
        <div class="tabs-striped tabs-top">
            <div class="tabs">
                <a class="tab-item active" href="#">
                    <span>详情</span>
                </a>
                <a class="tab-item" href="#" ui-sref="">
                    <span>步骤</span>
                </a>

                <a class="tab-item" href="#" ui-sref="">
                    <span>评价</span>
                </a>
            </div>
        </div>

        <div class="recipe-position-1" style="width: 100%;">
            <dl>
                <dd>
                    <span style="font-weight: bold">&nbsp;&nbsp;紫薯银耳汤</span>
                </dd>
                <dd>
                    <span style="color: #737373">&nbsp;&nbsp;发布时间：1015-06-25</span>
                    <span class="pull-right">浏览：165&nbsp;</span>
                </dd>
                <dd style="height: 5px"></dd>
                <dd>
                    <span class="wrap">紫薯银耳是一道营养极其丰富的甜品，味道香甜可口，颜色鲜艳，
                        让人食欲大增，大家不妨试着做一下!</span>
                </dd>
                <dd>
                    <br/>
                    <img src="img/tmp/images/recipes_04.png" style="width: 34px;padding-left: 8px;vertical-align: middle"/>
                    <span style="color:#f84546">食材</span>
                </dd>
                <dd>
                    <span>银耳</span>
                    <span class="pull-right">20g</span>
                </dd>
            </dl>
        </div>











    </ion-content>
    </ion-view>