<ion-view view-title="" id="register">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
            <span style="padding-left: 33%">
            <button class="login-button"
                    style="background-color: #fdfdfe;border: none;color: #fd0033">登录
            </button>
                <span>&nbsp;&nbsp;</span>
            <button class="reg-button"
                    style="background-color: #fdfdfe;border: none;border-bottom: 2px solid #fd0033;color: #fd0033">注册
            </button>
            </span>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-input-inset">
            <img src="img/tmp/images/register_01.png" alt="" style="height: 30px;width: auto"/>&nbsp;&nbsp;&nbsp;
            <label class="item item-input">
                <input type="text" class="grey" placeholder="输入手机号" ng-model="user.phone" >
            </label>
        </div>
        <div class="item item-input-inset">
            <img src="img/tmp/images/register_02.png" alt="" style="height: 30px;width: auto"/>&nbsp;&nbsp;&nbsp;
            <label class="item item-input">
                <input type="password" class="grey" placeholder="输入密码" ng-model="user.password" >
            </label>
        </div>
        <div class="item item-input-inset">
            <img src="img/tmp/images/register_02.png" alt="" style="height: 30px;width: auto"/>&nbsp;&nbsp;&nbsp;
            <label class="item item-input">
                <input type="password" class="grey" placeholder="确认密码"  ng-model="user.rePassword">
            </label>
        </div>
        <div class="item item-input-inset">
            <img src="img/tmp/images/register_03.png" alt="" style="height: 30px;width: auto"/>&nbsp;&nbsp;&nbsp;
            <label class="item item-input">
                <input type="text" class="grey" placeholder="输入邀请码"  ng-model="user.inviteCode">
            </label>
        </div>
        <div class="item item-input-inset">
            <img src="img/tmp/images/register_04.png" alt="" style="width: 30px;height: auto"/>&nbsp;&nbsp;&nbsp;
            <label class="item item-input border" style="width: 35%">
                <input type="text" placeholder="验证码" ng-model="user.code">
            </label>
            <button class="button button-light button-blue" ng-click="reg(user.phone, user.password, user.rePassword, user.inviteCode)">
                <span class="font">获取验证码</span>
            </button>
        </div>
        <div class="button button-assertive button-block" ng-click="submit(user.phone, user.password, user.rePassword, user.code)">提交</div>
    </ion-content>
</ion-view>
