<ion-view view-title="" id="registered-success">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
            <span style="padding-left: 33%">
            <button class="login-button"
                    style="background-color: #fdfdfe;border: none;color: #fd0033">登录
            </button>
                <span>&nbsp;&nbsp;</span>
            <button class="reg-button"
                    style="background-color: #fdfdfe;border: none;border-bottom: 2px solid #fd0033;color: #fd0033">注册
            </button>
            </span>
            </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="center" ui-sref="tab.account">
            <img class="image1" src="img/tmp/images/registered-success.png"/>
            <span class="move-right" style="color: #ee8102"><br/>去完善资料
            <img style="height: 20px;width: auto;vertical-align: text-bottom" class="image2"
                 src="img/tmp/images/double-right.png">
            </span>
        </div>
    </ion-content>
</ion-view>