<ion-view view-title="注册" id="registered-success">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="center">
            <img class="image1" src="img/tmp/images/registered-success.png"/>
            <span class="move-right" style="color: #ee8102"><br/>去完善资料
            <img style="height: 20px;width: auto;vertical-align: text-bottom" class="image2"
                 src="img/tmp/images/double-right.png">
            </span>
        </div>
    </ion-content>
</ion-view>