<ion-view view-title="注册">
    <ion-nav-buttons side="primary">
    <div class="bar bar-header">
        <button class="button button-clear ion-chevron-left pull-left" ui-sref="tab.home"></button>
    </div>
</ion-nav-buttons>
    <ion-content>

        <div class="list list-inset">
            <span>手机号</span>
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
        </div>


    </ion-content>
</ion-view>
