<ion-view id="search-post">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">

            <button class="button button-clear ion-chevron-left" style="border: 0; margin-right: 10px">
            </button>
            <label class="item-input-wrapper" style="background: #ffffff;border-radius:5px;">
                <i class="icon ion-ios-search placeholder-icon" style="color: #000000;"></i> &nbsp;
                <input type="search" class="grey" placeholder="请输入关键词"
                       style="font-size: 12px; height: auto; background: #ffffff; ">
            </label>

            <button class="button button-clear" ui-sref="tab.home">搜索</button>
        </div>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top">
        <div class="tabs">
            <a class="tab-item" href="#">
                <span>产品</span>
            </a>
            <a class="tab-item" href="#" ui-sref="">
                <span>食谱</span>
            </a>

            <a class="tab-item active" href="#" ui-sref="">
                <span>帖子</span>
            </a>
        </div>
    </div>
    <ion-content>
        <div style="height: 56px"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/post_01.png">
            <dl>
                <dd>
                    <h2>高科技多功能电饭煲</h2>
                    <span class="wrap grey" style="font-size: smaller">颠覆传统的豪科技电饭煲，一顶四 蒸、煮、煎、炸一步到位...</span>
                </dd>
                <dd>
                    <p style="padding-top: 0px"><span class="grey">浏览 2654</span>
                        <span class="grey pull-right">评论 26</span></p>
                </dd>
            </dl>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/post_02.png">
            <dl>
                <dd>
                    <h2>小户型如何规划自己的厨房</h2>
                    <span class="wrap grey" style="font-size: smaller">房子不够大，厨房不还布置？看过来20款小户型精装厨房布置...</span>
                </dd>
                <dd>
                    <p style="padding-top: 0px"><span class="grey">浏览 2654</span>
                        <span class="grey pull-right">评论 26</span></p>
                </dd>
            </dl>
        </div>
        <div class="gray-wide-line"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/post_01.png">
            <dl>
                <dd>
                    <h2>高科技多功能电饭煲</h2>
                    <span class="wrap grey" style="font-size: smaller">颠覆传统的豪科技电饭煲，一顶四 蒸、煮、煎、炸一步到位...</span>
                </dd>
                <dd>
                    <p style="padding-top: 0px"><span class="grey">浏览 2654</span>
                        <span class="grey pull-right">评论 26</span></p>
                </dd>
            </dl>
        </div>

        <div class="gray-wide-line"></div>
        <div class="item item-thumbnail-left">
            <img src="img/tmp/images/post_02.png">
            <dl>
                <dd>
                    <h2>小户型如何规划自己的厨房</h2>
                    <span class="wrap grey" style="font-size: smaller">房子不够大，厨房不还布置？看过来20款小户型精装厨房布置...</span>
                </dd>
                <dd>
                    <p style="padding-top: 0px"><span class="grey">浏览 2654</span>
                        <span class="grey pull-right">评论 26</span></p>
                </dd>
            </dl>
        </div>
    </ion-content>
</ion-view>
