<ion-view id="search-product">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">

            <button class="button button-clear ion-chevron-left" style="border: 0; margin-right: 10px">
            </button>
            <label class="item-input-wrapper" style="background: #ffffff;border-radius:5px;">
                <i class="icon ion-ios-search placeholder-icon" style="color: #000000;"></i> &nbsp;
                <input type="search" class="grey" placeholder="请输入关键词"
                       style="font-size: 12px; height: auto; background: #ffffff; ">
            </label>

            <button class="button button-clear" ui-sref="tab.home">搜索</button>
        </div>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top">
        <div class="tabs">
            <a class="tab-item  active" href="#">
                <span>产品</span>
            </a>
            <a class="tab-item" href="#" ui-sref="">
                <span>食谱</span>
            </a>

            <a class="tab-item" href="#" ui-sref="">
                <span>帖子</span>
            </a>
        </div>
    </div>

    <ion-content>
        <div class="product-border">
            <dl>
                <dd>
                    <img src="img/tmp/images/hottest_01.png">
                </dd>
                <dd>
                    <p style="font-weight:bold">&nbsp;&nbsp;2015新款九阳豆浆机</p>
                </dd>
                <dd>
                    <span><span class="price">&nbsp;￥399</span><span class="origin-price">￥499</span><span
                            class="pull-right">已售 8512</span></span>
                </dd>
            </dl>

            <dl>
                <dd>
                    <img src="img/tmp/images/hottest_02.png">
                </dd>
                <dd>
                    <p style="font-weight:bold">&nbsp;&nbsp;2015新款九阳豆浆机</p>
                </dd>
                <dd>
                    <span><span class="price">&nbsp;￥399</span><span class="origin-price">￥499</span><span
                            class="pull-right">已售 8512</span></span>
                </dd>
            </dl>

            <dl>
                <dd>
                    <img src="img/tmp/images/hottest_01.png">
                </dd>
                <dd>
                    <p style="font-weight:bold">&nbsp;&nbsp;2015新款九阳豆浆机</p>
                </dd>
                <dd>
                    <span><span class="price">&nbsp;￥399</span><span class="origin-price">￥499</span><span
                            class="pull-right">已售 8512</span></span>
                </dd>
            </dl>

        </div>
    </ion-content>
</ion-view>
