<ion-view view-title="服务中心" id="service-network">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account"></button>
        </ion-nav-buttons>
        <div class="bar subheader tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">
                <a class="tab-item " href="#">
                    <p>在线报修</p>
                </a>
                <a class="tab-item active" href="#">
                    <p>服务网点</p>
                </a>
                <a class="tab-item" href="#">
                    <p>吐槽</p>
                </a>
            </div>
        </div>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input" style="border-color: #b3b3b4;padding-left: 8px">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" placeholder="请输入关键字">
            </label>
            <button>搜索</button>
        </div>
        <div class="item item-in">
            <div class="work">
                合慧附件厦门售服务站
                <p>地址:福建省厦门市思明区软件园二期观日路55号2楼</p>
            </div>
            <div class="logo">
                <img src="../img/tmp/images/tel-01.png">
            </div>
        </div>
        <div class="item item-in" style="margin-top: 12px">
            <div class="work">
                合慧附件厦门售服务站
                <p>地址:福建省厦门市思明区软件园二期观日路55号2楼</p>
            </div>
            <div class="logo">
                <img src="../img/tmp/images/tel-01.png">
            </div>
        </div>
        <div class="item item-in" style="margin-top: 12px">
            <div class="work">
                合慧附件厦门售服务站
                <p>地址:福建省厦门市思明区软件园二期观日路55号2楼</p>
            </div>
            <div class="logo">
                <img src="../img/tmp/images/tel-01.png">
            </div>
        </div>
        <div class="item item-in" style="margin-top: 12px">
            <div class="work">
                合慧附件厦门售服务站
                <p>地址:福建省厦门市思明区软件园二期观日路55号2楼</p>
            </div>
            <div class="logo">
                <img src="../img/tmp/images/tel-01.png">
            </div>
        </div>
        <div class="item item-in" style="margin-top: 12px">
            <div class="work">
                合慧附件厦门售服务站
                <p>地址:福建省厦门市思明区软件园二期观日路55号2楼</p>
            </div>
            <div class="logo">
                <img src="../img/tmp/images/tel-01.png">
            </div>
        </div>
    </ion-content>
    <div>
    </div>

</ion-view>