<ion-view view-title="服务中心" id="service-review">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account"></button>
        </ion-nav-buttons>
        <div class="bar subheader tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">
                <a class="tab-item " href="#">
                    <p>在线报修</p>
                </a>
                <a class="tab-item active" href="#">
                    <p>服务网点</p>
                </a>
                <a class="tab-item" href="#">
                    <p>吐槽</p>
                </a>
            </div>
        </div>
    </ion-nav-bar>
    <ion-content>
        <div class="item">
            <div class="customer">
                <span class="logo">
                    <img src="../img/tmp/images/service-center01.jpg">
                </span>
                <span class="person">客户资料</span>
            </div>
            <div class="name">联系人：王先生</div>
        </div>
        <div class="item item-in">
            <div class="name">手机：13860556465</div>
        </div>
        <div class="item item-in">
            <div class="name">
                所在城市：厦门
                <span class="city">切换城市</span>
                <span class="ion-ios-arrow-right pull-right"></span>
            </div>
        </div>
        <div class="item" style="margin-top: 1px;border-bottom: none">
            <div class="customer" style="padding-bottom: 50px;">
                <span class="logo">
                    <img src="../img/tmp/images/service-center02.jpg">
                </span>
                <span class="person">上传图片</span>
                <div class="buttons">
                    <span class="button button1"><span class="ion-ios-plus-empty" style="font-size: 47px;color: #d8d8d8"></span></span>
                    <span class="button button2"><span class="ion-ios-plus-empty" style="font-size: 47px;color: #d8d8d8"></span></span>
                    <span class="button button3"><span class="ion-ios-plus-empty" style="font-size: 47px;color: #d8d8d8"></span></span>
                    <span class="button button4"><span class="ion-ios-plus-empty" style="font-size: 47px;color: #d8d8d8"></span></span>
                </div>
            </div>
        </div>
        <div class="item" style="margin-top: -10px;border-bottom: none">
            <div class="customer" style="padding-bottom: 25px;">
                <span class="logo">
                    <img src="../img/tmp/images/service-center03.jpg">
                </span>
                <span class="person">问题描述</span>
                <label>
                    <textarea placeholder="简要说明产品情况···"></textarea>
                </label>

            </div>
        </div>
        <div class="submit">
            <button class="button"><span>提交</span></button>
        </div>

    </ion-content>
    <div>
    </div>

</ion-view>