<ion-view view-title="购物车" id="shopping-cart">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content style="background-color: #e2e2e2">
        <div ng-repeat="item in items">
            <div class="row">
                <div class="col col-20"><img src="img/shopping-cart/store-icon.png"/></div>
                <div class="col col-60 col-offset-15"><h5>{{item.shop.get('name')}}</h5></div>
                <div class="col col-20" ng-click="editCart(item)"><h6>编辑</h6>
                </div>
            </div>

            <div>
                <ul class="list">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="item.selected" ng-change="optionToggled()">
                        </label>

                        <div class="item item-thumbnail-left ">
                            <img ng-src="{{item.item.get('image') || 'img/shopping-cart/man-coat.png'}}">

                            <h2>{{item.item.get('name')}}<span
                                    class="new-price pull-right">￥{{item.item.get('price')}}</span></h2>

                            <h2><span class="old-price pull-right">￥{{item.item.get('originPrice') || item.item.get('price') * 1.2 | number: 2}}</span>
                            </h2>

                            <p>&nbsp;</p>

                            <p ng-show="!item.editType">
                                <!--180/(88)A &nbsp; 蓝色-->

                            <span class=" pull-right" style="color: #161214">
                                    x{{item.count}}
                            </span>

                            </p>

                            <p ng-show="item.editType">
                                <button class="button ion-plus-round button-small pull-right" ng-click="incCount(item)">
                                    <span style="font-size: 18px"></span>
                                </button>
                            <span class="card pull-right">
                                    {{item.count}}
                            </span>
                                <button class="button ion-minus-round button-small pull-right" ng-click="decCount(item)">
                                    <span></span>
                                </button>
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </ion-content>
    <div class="final bar bar-footer">
        <ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="isAllSelected" ng-click="toggleAll()">

                </label>
                <button class="button button-calm button-large pull-right" style="z-index: 9999" ng-click="order()">
                    <span class="settle-account"> 结算</span>
                </button>
                <span class="all">全选</span>

                <div class="total pull-right">
                    <span class="total">合计：</span>
                    <span class="total-price">￥{{cost|number:2}}</span>
                    <span class="freight">含运费</span>
                </div>
            </li>
        </ul>
    </div>
</ion-view>