<ion-view>
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">

            <button class="button button-clear ion-chevron-left" style="border: 0; margin-right: 10px">
            </button>
            <label class="item-input-wrapper" style="background: #ffffff;border-radius:60px;">
                <i class="icon ion-ios-search placeholder-icon" style="color: #737373;"></i>&nbsp;
                <input type="search" class="grey" placeholder="请输入关键词" style="font-size: 12px; height: auto; background: #ffffff;">
            </label>

            <button class="button button-clear" ui-sref="tab.home">搜索</button>
        </div>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-background-{#ffffff} tabs-color-{#737373}">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <span>搜店铺</span>
            </a>

            <a class="tab-item" href="#" ui-sref="product-search">
                <span>搜产品</span>
            </a>
        </div>
    </div>


    <ion-content>
        <div>
            <br/>
            <br/>
            <br/>
            &nbsp;<b>历史：</b>
        </div>
        <div class="row">
            <div class="col"> <button class="button button-small button-block">德庄</button></div>
            <div class="col"><button class="button button-small button-block">食汇堂</button></div>
            <div class="col"> <button class="button button-small button-block">美发</button></div>
            <div class="col"><button class="button button-small button-block">国际旅游</button></div>
        </div>
        <div class="row">
            <div class="col"> <button class="button button-small button-block">德克士</button></div>
            <div class="col"><button class="button button-small button-block">咖啡店</button></div>
            <div class="col"> <button class="button button-small button-block">足浴</button></div>
            <div class="col"><button class="button button-small button-block">星巴克</button></div>
        </div>

        <div class="row">
            <div class="col col-25"> <div class="col"> <button class="button button-small button-block">宾馆</button></div></div>
            <div class="col col-25 col-25"> <div class="col"> <button class="button button-small button-block">美甲</button></div></div>
        </div>
        &nbsp;<b>热搜：</b>
        <div class="row">
            <div class="col"> <button class="button button-small button-block">德庄</button></div>
            <div class="col"><button class="button button-small button-block">食汇堂</button></div>
            <div class="col"> <button class="button button-small button-block">美发</button></div>
            <div class="col"><button class="button button-small button-block">国际旅游</button></div>
        </div>
        <div class="row">
            <div class="col"> <button class="button button-small button-block">德克士</button></div>
            <div class="col"><button class="button button-small button-block">咖啡店</button></div>
            <div class="col"> <button class="button button-small button-block">足浴</button></div>
            <div class="col"><button class="button button-small button-block">星巴克</button></div>
        </div>

        <div class="row">
            <div class="col col-25"> <div class="col"> <button class="button button-small button-block">宾馆</button></div></div>
            <div class="col col-25 col-25"> <div class="col"> <button class="button button-small button-block">美甲</button></div></div>
        </div>
    </ion-content>
</ion-view>
