<ion-view view-title="商家" id="tab-shop">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-ios-arrow-left pull-left" ui-sref="tab.home"></button>
            <button class="button button-clear ion-ios-search pull-right"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="button-bar shop-button-bar">
            <a class="button button-clear icon-right ion-arrow-down-b" href="#">全部分类</a>
            <a class="button button-clear icon-right ion-arrow-down-b">全城</a>
            <a class="button button-clear icon-right ion-arrow-down-b">销量最高</a>
        </div>
        <div ng-repeat="shop in shops">
            <div class="item-divider" style="min-height: 10px;"></div>
            <div class="list shop-list">

                <div class="item" ui-sref="mc-homepage({shopId: shop.id})">
                    <img src="img/tab-shop/shop-icon.png" alt="" height="24px"/>
        <span class="shop-name">
            {{shop.get('name')}}
        </span>
                    <span class="pull-right enter">进入店铺 <i class="icon ion-ios-arrow-right"></i></span>
                </div>
                <div class="item item-thumbnail-left" ng-repeat="item in shop.items" ui-sref="commodity-details({itemId: item.id})">
                    <img src="img/tab-home/dezhuang.png">
                    <h2>{{item.get('name')}}</h2>
                    <p class="intro">{{item.get('spec')}}</p>
                    <p><span class="assertive price">￥{{item.get('price')}}</span><span class="origin-price">￥{{item.get('price') * 1.2 | number: 2}}</span><span class="pull-right">已售 {{item.get('salenum')}}</span></p>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
