<ion-view view-title="购物车" id="shopping-cart">
    <ion-nav-buttons side="primary">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="tab.home"></button>
        </div>
    </ion-nav-buttons>
    <ion-content style="background-color: #e2e2e2">
        <div class="row">
            <div class="col col-20"><img src="img/shopping-cart/store-icon.png" /></div>
            <div class="col col-60 col-offset-15"><h5>live’ s(万达广场店)</h5></div>
            <div class="col col-20"><h6>完成</h6>
            </div>
        </div>

        <div>
            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <div class="item item-thumbnail-left ">
                        <img src="img/shopping-cart/man-coat.png">
                        <h2>live’ s专柜新品 男士<span class="new-price pull-right">￥2691</span></h2>
                        <h2>长袖牛仔夹克外套<span class="old-price pull-right">￥2900</span></h2>
                        <p>&nbsp;</p>
                        <p>
                            XL码   蓝色
                            <button class="button ion-plus-round button-small pull-right"><span style="font-size: 18px"></span>
                            </button>
                            <span class="card pull-right">
                                    1
                            </span>
                            <button class="button ion-minus-round button-small pull-right"><span></span>
                            </button>
                        </p>
                    </div>
                </li>

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <div class="item item-thumbnail-left ">
                        <img src="img/shopping-cart/woman-coat.png">
                        <h2>live’ s2015新款时尚<span class="new-price pull-right">￥219</span></h2>
                        <h2>外套<span class="old-price pull-right">￥290</span></h2>
                        <p>&nbsp;</p>
                        <p>
                            M码   米色
                            <button class="button ion-plus-round button-small pull-right"><span style="font-size: 18px"></span>
                            </button>
                            <span class="card pull-right">
                                    1
                            </span>
                            <button class="button ion-minus-round button-small pull-right"><span></span>
                            </button>
                        </p>

                    </div>
                </li>
            </ul>

        </div>
        <div class="final">
            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">

                    </label>

                    <span class="all">全选</span>
                    <button class="button button-calm button-large pull-right">


                        <div class="get-out">删除</div>
                    </button>

                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>