<ion-view view-title="步骤参考" id="step-reference">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left pull-left" ui-sref="account"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <dl>
                <dd class="page">3/5</dd>
                <dd>
                    <img src="../img/tmp/images/step-reference.png">
                </dd>
                <dd class="word">
                    锅中倒入小半锅清水，讲紫薯隔水蒸二十分钟，取出。
                </dd>
            </dl>
        </div>
    </ion-content>
</ion-view>