<ion-view>
    <ion-nav-buttons side="primary">
    <div class="bar bar-header">
        <button class="button icon-right ion-arrow-down-b" style="border: 0;">
        厦门
        </button>
        <label class="item-input-wrapper" style="background: #f88701;">
        <i class="icon ion-ios-search placeholder-icon" style="color: #ffffff;"></i>
        <input type="search" placeholder="搜索商家、分类、地点" style="height: auto; background: #f88701;">
        </label>
        <button class="button button-clear ion-android-open" style="border: 0; margin-right: 10px">
        </button>
    </div>
        </ion-nav-buttons>
  <ion-content>
      <ion-slide-box>
          <ion-slide>
              <div class="box">
                  <img src="img/tab-home/banner.png" width="100%" height="150"/>
              </div>
          </ion-slide>
          <ion-slide>
              <div class="box">
                  <img src="img/tab-home/banner.png" width="100%" height="150"/>
              </div>
          </ion-slide>
          <ion-slide>
              <div class="box">
                  <img src="img/tab-home/banner.png" width="100%" height="150"/>
              </div>
          </ion-slide>
      </ion-slide-box>
      <div class="row">
          <div class="col text-center">
              <img src="img/tab-home/meishi.png" width="80%"/>
              <p>美食</p>
          </div>
          <div class="col text-center">
              <img src="img/tab-home/dianying.png" width="80%"/>
              <p>电影</p>
          </div>
          <div class="col text-center">
              <img src="img/tab-home/jiudian.png" width="80%"/>
              <p>酒店</p>
          </div>
          <div class="col text-center">
              <img src="img/tab-home/ktv.png" width="80%"/>
              <p>KTV</p>
          </div>
      </div>
      <div class="row">
          <div class="col text-center">
              <img src="img/tab-home/meirong.png" width="80%"/>
              <p>美容</p>
          </div>
          <div class="col text-center">
              <img src="img/tab-home/dingdangao.png" width="80%"/>
              <p>订蛋糕</p>
          </div>
          <div class="col text-center">
              <img src="img/tab-home/dingwaimai.png" width="80%"/>
              <p>订外卖</p>
          </div>
          <div class="col text-center">
              <img src="img/tab-home/xiuxianyule.png" width="80%"/>
              <p>休闲娱乐</p>
          </div>
      </div>

      <div class="item-divider"></div>

      <div class="row">
          <div class="col text-center" style="border-right: solid 1px #EEEEEE; border-bottom: solid 1px #EEEEEE">
              <img src="img/tab-home/dapaifanxian.png" width="90%"/>
          </div>
          <div class="col text-center" style="border-bottom: solid 1px #EEEEEE">
              <img src="img/tab-home/daijinquan.png" width="90%"/>
          </div>
      </div>

      <div class="row">
          <div class="col text-center" style="border-right: solid 1px #EEEEEE">
              <img src="img/tab-home/qianggou.png" width="90%"/>
          </div>
          <div class="col text-center">
              <img src="img/tab-home/temaihui.png" width="90%"/>
          </div>
      </div>

    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
