<ion-view view-title="" id="home">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="primary">
            <a class="button icon-right ion-arrow-down-b button-city" style="border: 0; font-size: 14px;margin:1px 0 0 -3px" ui-sref="gps">
                {{city}}
            </a>
            <label class="item-input-wrapper" style="background: #e67c00;" ui-sref="shop-search">
                <i class="icon ion-ios-search placeholder-icon" style="color: #ffffff;"></i>
                <input type="search" placeholder="搜索商家、分类、地点" style="height: auto; background: #e67c00;">
            </label>
            <button class="button button-clear button-share" ng-click="share()" id="umshare" style="border: 0;">
                <img src="img/tab-home/share.png" alt="" width="100%"/>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--<ion-nav-buttons>-->
        <!--<div class="bar bar-header">-->
            <!--<a class="button icon-right ion-arrow-down-b" style="border: 0;" ui-sref="gps">-->
                <!--厦门-->
            <!--</a>-->
            <!--<label class="item-input-wrapper" style="background: #f88701;">-->
                <!--<i class="icon ion-ios-search placeholder-icon" style="color: #ffffff;"></i>-->
                <!--<input type="search" placeholder="搜索商家、分类、地点" style="height: auto; background: #f88701;">-->
            <!--</label>-->
            <!--<button class="button button-clear ion-android-open" style="border: 0; margin-right: 10px">-->
            <!--</button>-->
        <!--</div>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="has-footer">
        <ion-slide-box style="height: 126px;">
            <ion-slide>
                <div class="box">
                    <img src="img/tab-home/banner.png" ui-sref="shop"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="img/tab-home/banner.png" ui-sref="shop"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="img/tab-home/banner.png" ui-sref="shop"/>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="row in" style="margin-top: 5px">
            <div class="col text-center" ui-sref="shop({categoryName: 'meishi'})">
                <img src="img/tab-home/in_03.png" width="80%"/>

                <p>美食</p>
            </div>
            <div class="col text-center" ui-sref="shop({categoryName: 'dianying'})">
                <img src="img/tab-home/in_05.png" width="80%"/>

                <p>电影</p>
            </div>
            <div class="col text-center" ui-sref="shop({categoryName: 'jiudian'})">
                <img src="img/tab-home/in_07.png" width="80%"/>

                <p>酒店</p>
            </div>
            <div class="col text-center" ui-sref="shop({categoryName: 'ktv'})">
                <img src="img/tab-home/in_09.png" width="80%"/>

                <p>KTV</p>
            </div>
        </div>
        <div class="row in" style="padding: 0 5px 5px 5px">
                <div class="col text-center" ui-sref="shop({categoryName: 'meirong'})">
                <img src="img/tab-home/in_16.png" width="80%"/>

                <p>美容</p>
            </div>
                <div class="col text-center" ui-sref="shop({categoryName: 'dingdangao'})">
                <img src="img/tab-home/in_18.png" width="80%"/>

                <p>订蛋糕</p>
            </div>
                <div class="col text-center" ui-sref="shop({categoryName: 'dingwaimai'})">
                <img src="img/tab-home/in_19.png" width="80%"/>

                <p>订外卖</p>
            </div>
                <div class="col text-center" ui-sref="shop({categoryName: 'xiuxianyule'})">
                <img src="img/tab-home/in_20.png" width="80%"/>

                <p>休闲娱乐</p>
            </div>
        </div>

        <div class="item-divider" style="height: 14px"></div>

        <div class="row level2">
            <div class="col text-center" style=" border-right: solid 1px #EEEEEE; border-bottom: solid 1px #EEEEEE" ui-sref="cash-back">
                <img src="img/tab-home/dapaifanxian.png" width="85%"/>
            </div>
            <div class="col text-center" style=" border-bottom: solid 1px #EEEEEE" ui-sref="vouchers">
                <img src="img/tab-home/daijinquan.png" width="85%"/>
            </div>
        </div>

        <div class="row level2">
            <div class="col text-center" style="border-right: solid 1px #EEEEEE" ui-sref="buying">
                <img src="img/tab-home/qianggou.png" width="85%"/>
            </div>
            <div class="col text-center" style="" ui-sref="big-sell">
                <img src="img/tab-home/temaihui.png" width="85%"/>
            </div>
        </div>

        <div class="item-divider" style="height: 14px"></div>

        <div class="row level2" style="height: 50px">
            <div class="col text-center" style=" border-right: solid 1px #EEEEEE; border-bottom: solid 1px #EEEEEE" ui-sref="cash-back">
                <img src="img/tab-home/home_03.png" width="85%"/>
            </div>
            <div class="col text-center" style=" border-bottom: solid 1px #EEEEEE" ui-sref="vouchers">
                <img src="img/tab-home/home_05.png" width="85%"/>
            </div>
        </div>

        <div class="row level2" style="height: 100px;">
            <div class="col text-center" style="border-right: solid 1px #EEEEEE" ui-sref="buying">
                <img src="img/tab-home/home_08.png" width="85%"/>
            </div>
            <div class="col text-center" style="border-right: solid 1px #EEEEEE" ui-sref="buying">
                <img src="img/tab-home/home_09.png" width="85%"/>
            </div>
            <div class="col text-center" style="border-right: solid 1px #EEEEEE" ui-sref="buying">
                <img src="img/tab-home/home_10.png" width="85%"/>
            </div>
            <div class="col text-center" style="" ui-sref="big-sell">
                <img src="img/tab-home/home_12.png" width="85%"/>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col text-center" ui-sref="shop">-->
                <!--<img src="img/tab-home/ex_03.png" width="100%"/>-->
            <!--</div>-->
            <!--<div class="col text-center" ui-sref="shop({categoryName:'meirong'})">-->
                <!--<img src="img/tab-home/ex_05.png" width="100%"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="col text-center" ui-sref="shop({categoryName: 'bendishenghuo'})">-->
                <!--<img src="img/tab-home/ex_09.png" width="100%"/>-->
            <!--</div>-->
            <!--<div class="col text-center" ui-sref="shop({categoryName: 'bendishenghuo'})">-->
                <!--<img src="img/tab-home/ex_11.png" width="100%"/>-->
            <!--</div>-->
            <!--<div class="col text-center" ui-sref="shop({categoryName: 'bendishenghuo'})">-->
                <!--<img src="img/tab-home/ex_12.png" width="100%"/>-->
            <!--</div>-->
            <!--<div class="col text-center" ui-sref="shop({categoryName: 'meirong'})">-->
                <!--<img src="img/tab-home/ex_14.png" width="100%"/>-->
            <!--</div>-->
        <!--</div>-->

        <div class="item-divider" style="height: 14px"></div>

        <div class="list list-home">
            <div class="item" style="font-size: 14px; padding: 8px 8px 8px 20px;" ui-sref="shop"> <span style="display:inline-block; position: absolute; width: 3px; height: 18px; left: 10px; background: #fe9315"></span>热卖推荐 <span
                    class="pull-right">更多 <i class="ion ion-ios-arrow-right"></i></span></div>
            <div class="item item-thumbnail-left" ng-repeat="item in items" ui-sref="commodity-details({itemId: item.id})">
                <img ng-src="{{item.get('image')}}" alt=""/>

                <h2>{{item.get('name')}}</h2>

                <p>{{item.get('spec') || '商家偷懒没有添加信息'}}</p>

                <p>&nbsp;</p>

                <p class="pull-right">已售 {{item.get('salenum')}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-tabs class="tabs-icon-top tabs-color-active-energized">

    <ion-tab title="首页" icon-off="ion-android-home" icon-on="ion-android-home" href="#/home">
        <!--<ion-nav-view name="tab-home"></ion-nav-view>-->
    </ion-tab>

    <ion-tab title="附近" icon-off="ion-android-map" icon-on="ion-android-map" href="#/shop/">
        <!--<ion-nav-view name="tab-shop"></ion-nav-view>-->
    </ion-tab>

    <ion-tab title="我的" icon-off="ion-android-person" icon-on="ion-android-person" href="#/account">
        <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
    </ion-tab>

    <ion-tab title="更多" icon-off="ion-ios-more" icon-on="ion-ios-more" href="#/more">
        <!--<ion-nav-view name="tab-more"></ion-nav-view>-->
    </ion-tab>

</ion-tabs>
