<ion-nav-bar class="bar-energized">
</ion-nav-bar>
<ion-view view-title="商家" id="tab-shop">
  <ion-content>
    <div class="button-bar shop-button-bar">
      <a class="button button-clear icon-right ion-arrow-down-b" ng-click="setSelectType('category')">全部分类</a>
      <a class="button button-clear icon-right ion-arrow-down-b" ng-click="setSelectType('area')">全城</a>
      <a class="button button-clear icon-right ion-arrow-down-b" ng-click="setSelectType('sort')">销量最高</a>
    </div>
    <div class="row" ng-show="shops == false">
      <div class="col text-center">载入中</div>
    </div>
    <div class="row" ng-show="shops.length == 0">
      <div class="col text-center">暂无数据</div>
    </div>
    <div ng-repeat="shop in shops" ng-show="shop.items">
      <div class="item-divider" style="min-height: 10px;"></div>
      <div class="list shop-list">

        <div class="item" ui-sref="homepage({shopId: shop.id})">
          <img ng-src="img/tab-shop/shop-icon.png" alt="" height="24px"/>
        <span class="shop-name">
            {{shop.get('name')}}
        </span>
          <span class="pull-right enter">进入店铺 <i class="icon ion-ios-arrow-right"></i></span>
        </div>
        <div class="item item-thumbnail-left" ng-repeat="item in shop.items" ui-sref="commodity-details({itemId: item.id})">
          <img ng-src="{{item.get('image')}}" alt="" height="24px"/>
          <h2>{{item.get('name')}}</h2>
          <p class="intro">{{item.get('spec')}}</p>
          <p><span class="assertive price">￥{{item.get('price')}}</span><span class="origin-price">￥{{item.get('price') * 1.2 | number: 2}}</span><span class="pull-right">已售 {{item.get('salenum')}}</span></p>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-content scroll="false" class="all-list" ng-show="selectType == 'category'">
    <ul class="list">
      <li class="item" ui-sref="tab.shop({categoryName: 'all'})">
        <h5><img src="../img/merchant-classify/all.png">&nbsp;&nbsp;&nbsp;全部分类</h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'dianying'})">
        <h5><img src="../img/merchant-classify/movie.png">&nbsp;&nbsp;&nbsp;电影</h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'meishi'})">
        <h5><img src="../img/merchant-classify/food.png">&nbsp;&nbsp;&nbsp;美食<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'jiudian'})">
        <h5><img src="../img/merchant-classify/local-life.png">&nbsp;&nbsp;&nbsp;酒店<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'meirong'})">
        <h5><img src="../img/merchant-classify/hairdressing.png">&nbsp;&nbsp;&nbsp;美容<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'dingwaimai'})">
        <h5><img src="../img/merchant-classify/take-out.png">&nbsp;&nbsp;&nbsp;外卖<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'ktv'})">
        <h5><img src="../img/merchant-classify/ktv.png">&nbsp;&nbsp;&nbsp;KTV</h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'lvyou'})">
        <h5><img src="../img/merchant-classify/travel.png">&nbsp;&nbsp;&nbsp;旅游<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'xiuxianyule'})">
        <h5><img src="../img/merchant-classify/relaxation.png">&nbsp;&nbsp;&nbsp;休闲娱乐<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item" ui-sref="tab.shop({categoryName: 'bendishenghuo'})">
        <h5><img src="../img/merchant-classify/local-life.png">&nbsp;&nbsp;&nbsp;本地生活<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item"  style="padding-bottom: 0">
        <h5></h5>
      </li>
    </ul>

    <ul class="list" style="top: -298px;left: 50%;background-color: #e6e6e6; z-index: 999;min-height: 296px">
      <li class="item" style="background-color: #e6e6e6">
        <h5>全部</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6" ng-show="categoryName == 'jiudian'">
        <h5>经济型酒店</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6" ng-show="categoryName == 'jiudian'">
        <h5>豪华酒店</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6" ng-show="categoryName == 'jiudian'">
        <h5>青年旅社</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6" ng-show="categoryName == 'jiudian'">
        <h5>主题酒店</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6" ng-show="categoryName == 'jiudian'">
        <h5>公寓型酒店</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6" ng-show="categoryName == 'jiudian'">
        <h5>度假酒店/度假村</h5>
      </li>
      <li class="item"  style="padding-bottom: 89px;background-color: #e6e6e6">
        <h5></h5>
      </li>
    </ul>


  </ion-content>
  <ion-content class="all-list" ng-show="selectType == 'area'" scroll="false">
    <ul class="list">
      <li class="item">
        <h5>全城</h5>
      </li>
      <li class="item">
        <h5>热门<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item">
        <h5>思明区<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item"  style="background-color: #e6e6e6">
        <h5 style="color: #f07200">湖里区<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item">
        <h5>集美区<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item">
        <h5>同安区<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item">
        <h5>海沧区<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item">
        <h5>翔安区<span class="ion-chevron-right pull-right"></span></h5>
      </li>
      <li class="item"  style="padding-bottom: 60px">
        <h5></h5>
      </li>
    </ul>

    <ul class="list" style="top: -298px;left: 50%;background-color: #d1c5d0;">
      <li class="item" style="background-color: #e6e6e6">
        <h5>全部</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6">
        <h5>国际邮轮中心</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6">
        <h5>湖里公园</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6">
        <h5>江头</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6">
        <h5>万达广场</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6">
        <h5>五缘湾</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6">
        <h5>蔡塘广场</h5>
      </li>
      <li class="item"  style="padding-bottom: 89px;background-color: #e6e6e6">
        <h5></h5>
      </li>
    </ul>


  </ion-content>

  <ion-content class="all-list" ng-show="selectType == 'sort'" scroll="false">
    <ul class="list">
      <li class="item">
        <h5>销量最高</h5>
      </li>
      <li class="item" style="background-color: #e6e6e6">
        <h5 style="color: #f07200">最新发布</h5>
      </li>
      <li class="item">
        <h5>价格最低</h5>
      </li>
      <li class="item">
        <h5>价格最高</h5>
      </li>
      <li class="item">
        <h5>评价最高</h5>
      </li>
      <li class="item">
        <h5>返利最高</h5>
      </li>
      <li class="item"  style="padding-bottom: 60px">
        <h5></h5>
      </li>
    </ul>

  </ion-content>
</ion-view>

<ion-tabs class="tabs-icon-top tabs-color-active-energized">

  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/home">
    <!--<ion-nav-view name="tab-home"></ion-nav-view>-->
  </ion-tab>

  <ion-tab title="商家" icon-off="iconfont icon-jinrudianpu" icon-on="iconfont icon-jinrudianpu" href="#/shop/">
    <!--<ion-nav-view name="tab-shop"></ion-nav-view>-->
  </ion-tab>

  <ion-tab title="我的" icon-off="ion-android-person" icon-on="ion-android-person" href="#/account">
    <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  </ion-tab>

  <ion-tab title="更多" icon-off="ion-ios-more" icon-on="ion-ios-more" href="#/more">
    <!--<ion-nav-view name="tab-more"></ion-nav-view>-->
  </ion-tab>

</ion-tabs>
