<ion-view view-title="商家" id="tab-shop">
  <ion-nav-buttons side="primary">
    <div class="bar bar-header">
      <button class="button button-clear ion-ios-search pull-right" ui-sref="tab.home"></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="button-bar shop-button-bar">
      <a class="button button-clear icon-right ion-arrow-down-b" href="#">全部分类</a>
      <a class="button button-clear icon-right ion-arrow-down-b">全城</a>
      <a class="button button-clear icon-right ion-arrow-down-b">销量最高</a>
    </div>
    <div class="item-divider" style="min-height: 10px;"></div>
    <div class="list shop-list">

      <div class="item">
        <img src="img/tab-shop/shop-icon.png" alt="" height="24px"/>
        <span class="shop-name">
        德庄火锅（万达店）
        </span>
        <span class="pull-right enter">进入店铺 <i class="icon ion-ios-arrow-right"></i></span>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item text-center">
        查看其他3个商品 <i class="icon ion-ios-arrow-down"></i>
      </div>
    </div>
    <div class="item-divider" style="min-height: 10px;"></div>
    <div class="list shop-list">

      <div class="item">
        <img src="img/tab-shop/shop-icon.png" alt="" height="24px"/>
        <span class="shop-name">
        德庄火锅（万达店）
        </span>
        <span class="pull-right enter">进入店铺 <i class="icon ion-ios-arrow-right"></i></span>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item text-center">
        查看其他3个商品 <i class="icon ion-ios-arrow-down"></i>
      </div>
    </div>
    <div class="item-divider" style="min-height: 10px;"></div>
    <div class="list shop-list">

      <div class="item">
        <img src="img/tab-shop/shop-icon.png" alt="" height="24px"/>
        <span class="shop-name">
        德庄火锅（万达店）
        </span>
        <span class="pull-right enter">进入店铺 <i class="icon ion-ios-arrow-right"></i></span>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tab-home/dezhuang.png">
        <h2>德庄火锅美味 6人套餐</h2>
        <p class="intro">五一特惠套餐，快约上几个好友来分享吧！</p>
        <p><span class="assertive price">￥168</span><span class="origin-price">￥208</span><span class="pull-right">已售 316</span></p>
      </div>
      <div class="item text-center">
        查看其他3个商品 <i class="icon ion-ios-arrow-down"></i>
      </div>
    </div>
  </ion-content>
</ion-view>

