<ion-view view-title="代金券">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-home">
            <div class="item item-thumbnail-left" ng-repeat="item in items">
                <img ng-src="{{item.get('Shop').get('image')}}" alt="" ui-sref="vouchers-details({id: item.id})"/>

                <h2 ui-sref="vouchers-details({id: item.id})">{{item.get('Shop').get('name')}}</h2>

                <p>满{{item.get('condition')}}元减{{item.get('discount')}}元</p>
                <p>{{item.get('expireTime') | date: 'yyyy-MM-dd'}}到期</p>

                <span><button class="button button-energized button-small" ng-click="buy()">立即领取</button></span>
                <span class="pull-right">{{item.get('count')}}人领取</span>
            </div>
        </div>
    </ion-content>
</ion-view>
