input::-webkit-input-placeholder {
    color: #fff;
}

input.black::-webkit-input-placeholder {
    color: #000;
}

input.grey::-webkit-input-placeholder {
    color: #737373;
}

.pull-right {
    float: right;
}

.list-home .item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    max-width: 120px;
}

.list-home .item-thumbnail-left {
    padding-left: 146px;
}

.full {
    width: 100%;
}

.grey {
    color: #737373;
}

.category-all .icon:before {
    font-size: 26px;
}

.category-all .item-icon-left {
    padding-left: 38px;
}

.shop-button-bar .button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    display: inline-block;
    padding: 0 0 1px 0;
    vertical-align: inherit;
    font-size: 16px;
    line-height: 41px;
    pointer-events: none;
}

.shop-list .enter {
    font-size: 14px;
    color: #737373;
}

.shop-list .price {
    font-size: 24px;
    margin-right: 10px;
}

.shop-list .origin-price {
    text-decoration: line-through;
    color: #737373;
}

.shop-list {
    margin-bottom: 0;
}

.product-search .price {
    font-size: 24px;
    margin-right: 10px;
}

.product-search .origin-price {
    text-decoration: line-through;
    color: #737373;
}

#product-search .tabs-top.tabs-striped .tab-item.tab-item-active, #product-search .tabs-top.tabs-striped .tab-item.active, #product-search .tabs-top.tabs-striped .tab-item.activated {
    color: #f88701;
    border-color: #f88701;
}

.mc-homepage-nocart .price {
    font-size: 24px;
    margin-right: 10px;
}

.gray-line {
    height: 1px;
    background-color: #ededed;
}

.gray-wide-line {
    height: 10px;
    background-color: #ededed;
}

#shop-search button.button-block, #shop-search button.button-full {
    margin-bottom: -10px;
}

#submit-orders div li {
    font-size: 86%;
}

#submit-orders label.checkbox input, #submit-orders label .checkbox-icon {
    width: 20px;
    height: 20px;
.
}

#submit-orders label.checkbox input:checked:before, #submit-orders label .checkbox input:checked + .checkbox-icon:before {
    background: #fc9215;
    border-color: #fc9215;
}

#submit-orders .item {
    border-width: 0px;
}

#submit-orders .item-checkbox .checkbox {
    top: 58%;
    left: 16px;
}

#submit-orders .item-checkbox {
    padding-left: 52px;
}

#submit-orders .item.line {
    border-width: 1px;
}

#submit-orders .bar.bar-assertive.bar-footer {
    background-color: #fd0033;
}

#submit-orders .row {
    background-color: #ffffff;
}

#submit-orders {
    background-color: #ededed;
}