input::-webkit-input-placeholder{color:#fff;}
input.black::-webkit-input-placeholder{color:#000;}
input.grey::-webkit-input-placeholder{color:#737373;}

.pull-right {
    float: right;
}

.list-home .item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    max-width: 120px;
}

.list-home .item-thumbnail-left {
    padding-left: 146px;
}

.full {
    width: 100%;
}

.grey {
    color: #737373;
}

.category-all .icon:before {
    font-size: 26px;
}

.category-all .item-icon-left {
    padding-left: 38px;
}


.shop-button-bar .button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    display: inline-block;
    padding: 0 0 1px 0;
    vertical-align: inherit;
    font-size: 16px;
    line-height: 41px;
    pointer-events: none;
}

.shop-list .enter {
    font-size: 14px;
    color: #737373;
}

.shop-list .price {
    font-size: 24px;
    margin-right: 10px;
}

.shop-list .origin-price {
    text-decoration:line-through;
    color: #737373;
}

.shop-list {
    margin-bottom: 0;
}

.product-search .price {
    font-size: 24px;
    margin-right: 10px;
}

.product-search .origin-price {
    text-decoration:line-through;
    color: #737373;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated{
    color: #f88701;
    border-color: #f88701;

}